<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.coevolution.vr.event.domain.EvEventMapper">
    <select id="miniMaxnumList" parameterType="kr.coevolution.vr.event.dto.EvEventDto" resultType="kr.coevolution.vr.event.dto.EvEventDto">
        select ev_idx as evIdx
        from
         ev_stock
        where
         ev_event_day = #{evEventDay}
        and
         ev_stock_winning !=0
    </select>

    <select id="stockCodeInfo" parameterType="kr.coevolution.vr.event.dto.EvEventDto" resultType="kr.coevolution.vr.event.dto.EvEventDto">
        select
          ev_stock_code as evStockCode,
          ev_stock_code_name as evStockCodeName,
          ev_idx as evIdx
        from
          ev_stock
        where
          ev_idx = #{evIdx}
        and
          ev_stock_winning !=0
    </select>

    <select id="totalStockCnt"  resultType="Integer">
        select  count(ep_id) as cnt  from ev_event_person
    </select>

    <select id="personStockCnt" parameterType="kr.coevolution.vr.event.dto.EvEventDto" resultType="Integer">
        select
          count(ep_id) as cnt
        from
          ev_event_person
        where
        replace(ep_hp,'-','') = replace(#{hp},'-','')
        and ep_person_name = #{evPersonName}
    </select>

    <select id="personTodayStockCnt" parameterType="kr.coevolution.vr.event.dto.EvEventDto" resultType="Integer">
        select
        count(ep_id) as cnt
        from
        ev_event_person
        where
        reg_dt like CONCAT('%', #{evEventDay}, '%')
    </select>

    <select id="miniMaxnumAfer" parameterType="kr.coevolution.vr.event.dto.EvEventDto" resultType="kr.coevolution.vr.event.dto.EvEventDto">
        select ev_idx as evIdx
        from
        ev_stock
        where
        <![CDATA[
        ev_event_day >= #{evEventDay}
        and
        ev_event_day <= #{evEventAfterDay}
        and
        ev_stock_winning !=0
        ]]>
    </select>

    <insert id="saveEvent" parameterType="kr.coevolution.vr.event.dto.EvEventDto">
        /* 이벤트 참가자  입력 */
        insert into ev_event_person (
         ep_evt_id, ep_person_name, ep_hp, ep_stock_code, ep_stock_code_name
        ,ep_stock_day , ep_cust_seq, ep_cust_id,ep_stock_idx, reg_dt)
       values
        (
         #{iboardId},#{evPersonName}, #{hp}, #{stockCode}, #{stockCodeName}
        ,#{eventday}, #{custseq}, #{custid}, #{stockidx}, NOW()
        );
    </insert>
    <update id="updateEventStock" parameterType="kr.coevolution.vr.event.dto.EvEventDto">
        /* 이벤트 주식 차감  입력 */
        update ev_stock set ev_stock_winning = ev_stock_winning - 1 where ev_idx = #{evIdx}
    </update>

    <select id="S01_MYPAGE_LIST" parameterType="kr.coevolution.vr.event.dto.EvEventDto" resultType="kr.coevolution.vr.event.dto.EvEventResposeDto">
        select ROW_NUMBER() OVER(ORDER BY reg_dt asc) as rn
            , ep_id, ep_evt_id, ep_person_name, ep_hp, reg_dt, ep_email, ep_email2, ep_postcode, ep_addr1, ep_addr2, ep_stock_code, ep_stock_code_name, ep_stock_day, ep_cust_id, ep_cust_seq, ep_temp3, ep_temp4, ep_temp5, ep_temp6, ep_temp7, ep_temp8, ep_temp9, ep_temp10, ep_stock_idx
        from ev_event_person eep
        where ep_cust_seq = #{ep_cust_seq}
    </select>

</mapper>
