<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.coevolution.vr.board.domain.EvBoardMapper">

    <insert id="I01_BOARD" parameterType="kr.coevolution.vr.board.dto.EvBoardRequestDto" useGeneratedKeys="true" >

        <selectKey resultType="Long" keyProperty="board_id" order="AFTER">
            SELECT LAST_INSERT_ID() as board_id
        </selectKey>

        INSERT INTO ev_board
        (
            board_id
            , board_res_id
            , board_clsf_cd
            , board_clsf_dtl_cd
            , reg_dt
            , board_subject
            , board_content
            , board_content2
            , ref_url
            , evnt_pticpt
            , evnt_target
            , evnt_place
            , evnt_fr_dt
            , evnt_to_dt
            , req_fr_dt
            , req_fr_hhmm
            , req_to_dt
            , req_to_hhmm
            , use_yn
            , del_yn
            , board_stat_cd
            , reg_user_id
            , conslt_cust_id
            , conslt_user_id
            , board_cnt
            , ins_user
            , ins_dtm
            , mod_user
            , mod_dtm
        ) VALUES (
            NULL
            , nvl(#{board_res_id},0) /* 최초등록 0, 답변 : board_id */
            , #{board_clsf_cd}
            , #{board_clsf_dtl_cd}
            , nvl(#{reg_dt}, CURRENT_DATE())
            , #{board_subject}
            , #{board_content}
            , #{board_content2}
            , #{ref_url}
            , #{evnt_pticpt}
            , #{evnt_target}
            , #{evnt_place}
            , #{evnt_fr_dt}
            , #{evnt_to_dt}
            , #{req_fr_dt}
            , #{req_fr_hhmm}
            , #{req_to_dt}
            , #{req_to_hhmm}
            , 'Y'
            , 'N'
            , #{board_stat_cd}
            , #{reg_user_id}
            , #{conslt_cust_id}
            , #{conslt_user_id}
            , 0
            , #{user_id}
            , NOW()
            , #{user_id}
            , NOW()
        )
    </insert>

    <update id="U01_BOARD" parameterType="kr.coevolution.vr.board.dto.EvBoardRequestDto">

        UPDATE ev_board
            SET board_subject = #{board_subject}
              , board_content = #{board_content}
              , ref_url       = #{ref_url}
              , evnt_pticpt   = #{evnt_pticpt}
              , evnt_target   = #{evnt_target}
              , evnt_place    = #{evnt_place}
              , evnt_fr_dt    = #{evnt_fr_dt}
              , evnt_to_dt    = #{evnt_to_dt}
              , req_fr_dt     = #{req_fr_dt}
              , req_fr_hhmm   = #{req_fr_hhmm}
              , req_to_dt     = #{req_to_dt}
              , req_to_hhmm   = #{req_to_hhmm}
              , conslt_user_id= #{conslt_user_id}
              , use_yn        = nvl(#{use_yn}, use_yn)
              , mod_user      = #{user_id}
              , mod_dtm       = NOW()
        WHERE board_id = #{board_id}

    </update>

    <update id="U02_BOARD" parameterType="kr.coevolution.vr.board.dto.EvBoardRequestDto">

        UPDATE ev_board
           SET del_yn       = 'Y'
             , mod_user     = #{user_id}
             , mod_dtm      = NOW()
         WHERE board_id = #{board_id}

    </update>

    <update id="U03_BOARD" parameterType="kr.coevolution.vr.board.dto.EvBoardRequestDto">

        UPDATE ev_board
        SET mod_user          = #{user_id}
          , mod_dtm           = NOW()
          , board_content   = #{board_content}
          , board_stat_cd   = #{board_stat_cd}
        WHERE board_id = #{board_id}

    </update>

    <update id="U03_BOARD_STAT" parameterType="kr.coevolution.vr.board.dto.EvBoardRequestDto">

        UPDATE ev_board
        SET mod_user      = #{user_id}
        , mod_dtm         = NOW()
        , board_stat_cd   = #{board_stat_cd}
        WHERE board_id = #{board_id}

    </update>

    <update id="U04_BOARD_CNT" parameterType="kr.coevolution.vr.board.dto.EvBoardRequestDto">

        UPDATE ev_board
           SET board_cnt    = board_cnt + 1
         WHERE board_id     = #{board_id}

    </update>

    <select id="S01_CONSLT_LIST" parameterType="kr.coevolution.vr.board.dto.EvBoardSearchDto"
            resultType="kr.coevolution.vr.board.dto.EvBoardConsltResponseDto">

        SELECT ROW_NUMBER() OVER(ORDER BY a.ins_dtm DESC) as rn
             , a.board_id
             , a.board_subject
             , a.conslt_cust_id
             , concat(nvl((select concat(cd_nm, '>') from ev_comm_code ecc where cd_id = b.category1), ''),
                (select cust_nm from ev_cust_mst where cust_id = a.conslt_cust_id)) as conslt_cust_nm
             , a.reg_user_id
             , (select cust_nm from ev_cust_mst where cust_id = a.reg_user_id) as reg_user_nm
             , a.reg_dt
             , a.board_stat_cd
             , (select cd_nm from ev_comm_code where cd_id = a.board_stat_cd) as board_stat_nm
          FROM ev_board a
            inner join ev_cust_mst b
            on a.conslt_cust_id = b.cust_id
         WHERE a.board_clsf_cd = '101002' /* 1:1 문의 */
           AND a.del_yn = 'N'
           AND a.board_res_id = 0

        <if test="reg_user_id != null and reg_user_id != ''">
            /* 참관로그인 */
            AND a.reg_user_id = #{reg_user_id}
        </if>

        <if test="conslt_cust_id != null and conslt_cust_id != ''">
            /* 참가로그인 - 질문 또는 답변 가능 */
            AND (a.conslt_cust_id = #{conslt_cust_id} or a.reg_user_id = #{conslt_cust_id})
        </if>

        <if test='keyword_clsf_cd == "subject"'>
            and board_subject like concat('%',#{keyword},'%')
        </if>

        <if test='keyword_clsf_cd == "content"'>
            and board_content like concat('%',#{keyword},'%')
        </if>

        <if test='keyword != null and keyword != "" and (keyword_clsf_cd == null or keyword_clsf_cd == "")'>
            and (board_subject like concat('%',#{keyword},'%') or board_content like concat('%',#{keyword},'%'))
        </if>

        <if test="board_stat_cd != null and board_stat_cd != ''">
            and board_stat_cd = #{board_stat_cd}
        </if>

        LIMIT #{page_row_start}, #{page_row_cnt}

    </select>

    <select id="S02_CONSLT_LIST_CNT" parameterType="kr.coevolution.vr.board.dto.EvBoardSearchDto"
            resultType="kr.coevolution.vr.board.dto.EvBoardConsltResponseDto">

        SELECT COUNT(*) AS row_count
        FROM ev_board a
        WHERE a.board_clsf_cd = '101002' /* 1:1 문의 */
        AND a.del_yn = 'N'
        AND a.board_res_id = 0

        <if test="reg_user_id != null and reg_user_id != ''">
            /* 참관로그인 */
            AND a.reg_user_id = #{reg_user_id}
        </if>

        <if test="conslt_cust_id != null and conslt_cust_id != ''">
            /* 참가로그인 */
            AND a.conslt_cust_id = #{conslt_cust_id}
        </if>

        <if test='keyword_clsf_cd == "subject"'>
            and board_subject like concat('%',#{keyword},'%')
        </if>

        <if test='keyword_clsf_cd == "content"'>
            and board_content like concat('%',#{keyword},'%')
        </if>

        <if test='keyword != null and keyword != "" and (keyword_clsf_cd == null or keyword_clsf_cd == "")'>
            and (board_subject like concat('%',#{keyword},'%') or board_content like concat('%',#{keyword},'%'))
        </if>

        <if test="board_stat_cd != null and board_stat_cd != ''">
            and board_stat_cd = #{board_stat_cd}
        </if>


    </select>

    <select id="S03_CONSLT_DTL" parameterType="kr.coevolution.vr.board.dto.EvBoardSearchDto"
            resultType="kr.coevolution.vr.board.dto.EvBoardConsltResponseDto">

        SELECT  a.board_id
             , a.board_subject
             , a.board_content
             , a.conslt_cust_id
             , (select cust_nm from ev_cust_mst where cust_id = a.conslt_cust_id) as conslt_cust_nm
             , (select email_id from ev_cust_mst where cust_id = a.conslt_cust_id) as email_id
             , (select board_content from ev_board where board_res_id = a.board_id and del_yn = 'N') as board_reply_content
             , (select date_format(ins_dtm,'%Y-%m-%d %H:%i:%S') from ev_board where board_res_id = a.board_id and del_yn = 'N') as board_reply_ins_dtm
             , a.reg_dt
             , a.board_stat_cd
             , (select cd_nm from ev_comm_code where cd_id = a.board_stat_cd) as board_stat_nm
        FROM ev_board a
        WHERE a.board_clsf_cd = '101002' /* 1:1 문의 */
        AND a.del_yn = 'N'
        and a.board_id = #{board_id}

    </select>

    <select id="S04_BOARD_ALL" parameterType="kr.coevolution.vr.board.dto.EvBoardSearchDto" resultType="map">
        SELECT a.*
             , (select max(board_id) from ev_board where board_res_id = a.board_id) as reply_board_id
          FROM ev_board a
         WHERE board_id = #{board_id}
    </select>

    <select id="S05_CONSLT_LIST" parameterType="kr.coevolution.vr.board.dto.EvBoardSearchDto"
            resultType="kr.coevolution.vr.board.dto.EvBoardConsltResponseDto">

        SELECT ROW_NUMBER() OVER(ORDER BY a.ins_dtm DESC) as rn
        , a.board_id
        , a.board_subject
        , a.conslt_cust_id
        , concat(nvl((select concat(cd_nm, ' > ') from ev_comm_code ecc where cd_id = b.category1), ''),
        (select cust_nm from ev_cust_mst where cust_id = a.conslt_cust_id)) as conslt_cust_nm
        , a.reg_user_id
        , (select cust_nm from ev_cust_mst where cust_id = a.reg_user_id) as reg_user_nm
        , a.reg_dt
        , a.board_stat_cd
        , (select cd_nm from ev_comm_code where cd_id = a.board_stat_cd) as board_stat_nm
        FROM ev_board a
        inner join ev_cust_mst b
        on a.conslt_cust_id = b.cust_id
        WHERE a.board_clsf_cd = '101002' /* 1:1 문의 */
        AND a.del_yn = 'N'
        AND a.board_res_id = 0

        <if test='keyword_clsf_cd == "subject"'>
            and a.board_subject like concat('%',#{keyword},'%')
        </if>

        <if test='keyword_clsf_cd == "content"'>
            and a.board_content like concat('%',#{keyword},'%')
        </if>

        <if test='keyword_clsf_cd == "insuser"'>
            and b.cust_nm like concat('%',#{keyword},'%')
        </if>

        <if test='keyword != null and keyword != "" and (keyword_clsf_cd == null or keyword_clsf_cd == "")'>
            and (a.board_subject like concat('%',#{keyword},'%') or a.board_content like concat('%',#{keyword},'%') or b.cust_nm like concat('%',#{keyword},'%'))
        </if>

        <if test="board_stat_cd != null and board_stat_cd != ''">
            and a.board_stat_cd = #{board_stat_cd}
        </if>

        LIMIT #{page_row_start}, #{page_row_cnt}

    </select>

    <select id="S05_CONSLT_LIST_CNT" parameterType="kr.coevolution.vr.board.dto.EvBoardSearchDto"
            resultType="kr.coevolution.vr.board.dto.EvBoardConsltResponseDto">

        SELECT COUNT(*) AS row_count
        FROM ev_board a
        inner join ev_cust_mst b
        on a.conslt_cust_id = b.cust_id
        WHERE a.board_clsf_cd = '101002' /* 1:1 문의 */
        AND a.del_yn = 'N'
        AND a.board_res_id = 0

        <if test='keyword_clsf_cd == "subject"'>
            and a.board_subject like concat('%',#{keyword},'%')
        </if>

        <if test='keyword_clsf_cd == "content"'>
            and a.board_content like concat('%',#{keyword},'%')
        </if>

        <if test='keyword_clsf_cd == "insuser"'>
            and b.cust_nm like concat('%',#{keyword},'%')
        </if>

        <if test='keyword != null and keyword != "" and (keyword_clsf_cd == null or keyword_clsf_cd == "")'>
            and (a.board_subject like concat('%',#{keyword},'%') or a.board_content like concat('%',#{keyword},'%') or b.cust_nm like concat('%',#{keyword},'%'))
        </if>

        <if test="board_stat_cd != null and board_stat_cd != ''">
            and a.board_stat_cd = #{board_stat_cd}
        </if>

    </select>

    <select id="S06_TERMS_LIST" parameterType="kr.coevolution.vr.board.dto.EvBoardSearchDto" resultType="kr.coevolution.vr.board.dto.EvBoardTermsResponseDto">
        select ROW_NUMBER() OVER(ORDER BY eb.ins_dtm DESC) as rn
             , board_id
             , board_clsf_cd
             , board_content
             , (select mgnt_nm from ev_mgnt_user where mgnt_id = eb.ins_user) as ins_user
             , date_format(ins_dtm,'%Y-%m-%d %H:%i:%S') as ins_dtm
          from ev_board eb
        where board_clsf_cd = #{board_clsf_cd}
        LIMIT #{page_row_start}, #{page_row_cnt}
    </select>

    <select id="S06_TERMS_LIST_COUNT" parameterType="kr.coevolution.vr.board.dto.EvBoardSearchDto" resultType="kr.coevolution.vr.board.dto.EvBoardTermsResponseDto">
        select COUNT(*) AS row_count
        from ev_board eb
        where board_clsf_cd = #{board_clsf_cd}
        LIMIT #{page_row_start} ,#{page_row_cnt}
    </select>

    <select id="S07_TERMS_DTL" parameterType="kr.coevolution.vr.board.dto.EvBoardSearchDto" resultType="kr.coevolution.vr.board.dto.EvBoardTermsResponseDto">
        select board_id
             , board_clsf_cd
             , board_content
             , board_content2
          from ev_board
        where board_id = (
                            select max(board_id)
                              from ev_board eb
                            where board_clsf_cd = #{board_clsf_cd}
                              and use_yn = 'Y'
                              and del_yn = 'N'
                         )
    </select>

    <select id="S08_LIST" parameterType="kr.coevolution.vr.board.dto.EvBoardSearchDto" resultType="kr.coevolution.vr.board.dto.EvBoardResponseDto">
        select ROW_NUMBER() OVER(ORDER BY eb.ins_dtm DESC) as rn
             , board_id, board_res_id, board_clsf_cd, board_clsf_dtl_cd, reg_dt, board_subject
             , board_content, board_content2, ref_url, evnt_pticpt, evnt_target, evnt_place
             , evnt_fr_dt, evnt_to_dt, concat(evnt_fr_dt, '-', evnt_to_dt) as evnt_prod_dt
             , req_fr_dt, req_fr_hhmm
             , req_to_dt, req_to_hhmm, use_yn
             , del_yn, board_stat_cd, reg_user_id, conslt_cust_id, conslt_user_id, nvl(board_cnt,0) as board_cnt
             , (select mgnt_nm from ev_mgnt_user where mgnt_id = eb.ins_user) as ins_user
             , date_format(ins_dtm,'%Y-%m-%d %H:%i:%S') as ins_dtm
         from ev_board eb
        where board_clsf_cd = #{board_clsf_cd}
          and del_yn = 'N'

        <if test="board_clsf_dtl_cd != null and board_clsf_dtl_cd != ''">
            and eb.board_clsf_dtl_cd = #{board_clsf_dtl_cd}
        </if>

        <if test="ins_dt_fr != null and ins_dt_fr != ''">
            and eb.evnt_fr_dt >= #{ins_dt_fr}
        </if>

        <if test="ins_dt_to != null and ins_dt_to != ''">
            and eb.evnt_to_dt <![CDATA[<=]]> #{ins_dt_to}
        </if>

        <if test="keyword != null and keyword != ''">
            and eb.board_subject like concat('%', #{keyword}, '%')
        </if>

        LIMIT #{page_row_start}, #{page_row_cnt}
    </select>

    <select id="S08_LIST_CNT" parameterType="kr.coevolution.vr.board.dto.EvBoardSearchDto" resultType="kr.coevolution.vr.board.dto.EvBoardResponseDto">
        SELECT COUNT(*) AS row_count
        from ev_board eb
        where board_clsf_cd = #{board_clsf_cd}
        and del_yn = 'N'
    </select>

    <select id="S08_DTL" parameterType="kr.coevolution.vr.board.dto.EvBoardSearchDto" resultType="kr.coevolution.vr.board.dto.EvBoardResponseDto">
        select board_id, board_res_id, board_clsf_cd, board_clsf_dtl_cd, reg_dt, board_subject, board_content, board_content2, ref_url, evnt_pticpt, evnt_target, evnt_place, evnt_fr_dt, evnt_to_dt, req_fr_dt, req_fr_hhmm, req_to_dt, req_to_hhmm, use_yn, del_yn, board_stat_cd, reg_user_id, conslt_cust_id, conslt_user_id, board_cnt
          from ev_board eb
         where board_clsf_cd = #{board_clsf_cd}
           and del_yn = 'N'
    </select>

    <select id="S08_ENENT" resultType="kr.coevolution.vr.board.dto.EvBoardResponseDto">
        SELECT board_id, board_content, ref_url
          FROM ev_board
         WHERE del_yn = 'N'
           and use_yn = 'Y'
           and board_clsf_cd = '101001'
         order by ins_dtm desc
    </select>

</mapper>
