<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.coevolution.vr.mgnt.domain.MgntUserInfoMapper">

    <select id="S01_LOGIN" parameterType="kr.coevolution.vr.member.dto.EvMemberLoginRequestDto" resultType="kr.coevolution.vr.member.dto.EvMemberLoginInfoDto">
        /* 관리자로그인 */
        select mgnt_id
             , mgnt_nm
             , mgnt_id      as cust_id
             , mgnt_nm      as cust_nm
             , mgnt_id      as user_id
             , email_id
             , '202003'     as cust_clsf_cd
          from ev_mgnt_user
         where mgnt_id = #{user_id}#
           and mgnt_pw = #{user_pw}#
           and use_yn = 'Y'
           and del_yn = 'N'

    </select>

    <select id="S02_MEMBER_LIST" parameterType="kr.coevolution.vr.mgnt.dto.EvMgntMemberRequestDto" resultType="kr.coevolution.vr.mgnt.dto.EvMgntMemberResponseDto">

        /* 고객조회 */
        SELECT ROW_NUMBER() OVER(ORDER BY a.ins_dtm desc) as rn
            , cust_seq			, cust_id			, cust_sts_cd			, cust_clsf_cd			, cust_nm
            , company_nm		, dept_nm			, rep_nm				, posn_nm				, email_id
            , DATE_FORMAT(ins_dtm, '%Y-%m-%d %H:%i:%s') AS ins_dtm
            , (SELECT max(DATE_FORMAT(login_dtm, '%Y-%m-%d %H:%i:%s')) FROM ev_cust_login_log WHERE cust_id = a.cust_id) AS login_dtm
            , '' as vr_cust_id
        FROM 	ev_cust_mst a
        WHERE   cust_sts_cd     = '105001'          /* 정상 */
        AND 	cust_clsf_cd	= #{cust_clsf_cd}#  /* 202001:참관 202002:참가 */
        AND 	date_format(ins_dtm,'%Y-%m-%d') BETWEEN #{ins_dt_fr} AND #{ins_dt_to}
        and     (cust_id like concat('%',#{keyword},'%') or cust_nm like concat('%',#{keyword},'%') or rep_nm like concat('%',#{keyword},'%'))

         LIMIT #{page_row_start}, #{page_row_cnt}

    </select>

    <select id="S02_MEMBER_LIST_COUNT" parameterType="kr.coevolution.vr.mgnt.dto.EvMgntMemberRequestDto" resultType="kr.coevolution.vr.mgnt.dto.EvMgntMemberResponseDto">

        /* 고객조회건수 */
        SELECT COUNT(*) AS row_count
        FROM 	ev_cust_mst a
        WHERE   cust_sts_cd     = '105001'          /* 정상 */
        AND 	cust_clsf_cd	= #{cust_clsf_cd}  /* 202001:참관 202002:참가 */
        AND 	date_format(ins_dtm,'%Y-%m-%d') BETWEEN #{ins_dt_fr} AND #{ins_dt_to}
        and     (cust_id like concat('%',#{keyword},'%') or cust_nm like concat('%',#{keyword},'%') or rep_nm like concat('%',#{keyword},'%'))
        ORDER BY a.ins_dtm DESC

    </select>

    <select id="S03_DUP_CHK" parameterType="kr.coevolution.vr.mgnt.dto.EvMgntMemberRequestDto" resultType="kr.coevolution.vr.mgnt.dto.EvMgntMemberResponseDto">
        /* 중복체크 */
        select count(*) as dup_cnt
        from ev_mgnt_user
        where mgnt_id = #{mgnt_id}
    </select>

    <insert id="I01_MGNT_USER" parameterType="map">
        /* 관리자등록 */
        INSERT INTO ev_mgnt_user
        (
            mgnt_seq, mgnt_id, mgnt_nm, mgnt_pw, email_id, hp_no, dept_nm, use_yn, del_yn, ins_user, ins_dtm, mod_user, mod_dtm
        ) VALUES (
            null, #{mgnt_id}, #{mgnt_nm}, #{mgnt_pw}, #{email_id}, #{hp_no}, #{dept_nm},'Y', 'N', #{user_id}, now(), #{user_id}, now()
        )

    </insert>

    <update id="U01_MGNT_USER" parameterType="map">
        /* 관리자정보 수정 */
        update ev_mgnt_user
        set    mgnt_nm = #{mgnt_nm}
             , email_id = #{email_id}
             , dept_nm = #{dept_nm}
             , hp_no = #{hp_no}
             , use_yn = #{use_yn}
             , mod_user = #{user_id}
             , mod_dtm = now()
        where mgnt_id = #{mgnt_id}

    </update>

    <update id="U01_MGNT_USER_PW" parameterType="kr.coevolution.vr.mgnt.dto.EvMgntMemberRequestDto">
        /* 관리자정보 수정 */
        update ev_mgnt_user
        set   mgnt_pw = #{mgnt_pw}
        , mod_user = #{user_id}
        , mod_dtm = now()
        where mgnt_id = #{mgnt_id}

    </update>

    <insert id="I02_MGNT_PRMS" parameterType="map">
        /* 관리자 메뉴 권한 */
        INSERT INTO ev_menu_prms
        (
            prms_id, mgnt_id, menu_id, use_yn, del_yn, ins_user, ins_dtm, mod_user, mod_dtm
        ) VALUES (
            NULL, #{mgnt_id}, #{menu_id}, #{use_yn}, 'N', #{user_id}, NOW(), #{user_id}, NOW()
        )

    </insert>

    <update id="U02_MGNT_PRMS_DEL" parameterType="map">
        /* 권한삭제처리 */
        update ev_menu_prms
        set     del_yn = 'Y'
                , mod_user = #{user_id}
                , mod_dtm  = NOW()
        where mgnt_id = #{mgnt_id}
    </update>

    <select id="S04_MENU_LIST" parameterType="map" resultType="map">
        /* 관리메뉴를 조회한다. */
        select menu_id
            , menu_nm
            , menu_url
            , upper_menu_id
            , menu_lvel
        from ev_menu_mgnt
        where menu_id like '1%'
        and use_yn = 'Y'
        order by case when menu_lvel = 2 then upper_menu_id  else menu_id end, menu_id
    </select>

    <select id="S05_MGNT_LIST" parameterType="kr.coevolution.vr.mgnt.dto.EvMgntMemberRequestDto" resultType="kr.coevolution.vr.mgnt.dto.EvMgntMemberResponseDto">

        select ROW_NUMBER() OVER(order by mgnt_nm) as rn
            , mgnt_id
            , mgnt_nm
            , email_id
            , hp_no
            , use_yn
            , dept_nm
        from ev_mgnt_user emu
        where del_yn = 'N'

        <if test="mgnt_id_sh != null and mgnt_id_sh != ''">
            and emu.mgnt_id like concat('%',#{mgnt_id_sh},'%')
        </if>

        <if test="mgnt_nm_sh != null and mgnt_nm_sh != ''">
            and emu.mgnt_nm like concat('%',#{mgnt_nm_sh},'%')
        </if>

        LIMIT #{page_row_start}, #{page_row_cnt}

    </select>

    <select id="S05_MGNT_LIST_COUNT" parameterType="kr.coevolution.vr.mgnt.dto.EvMgntMemberRequestDto" resultType="kr.coevolution.vr.mgnt.dto.EvMgntMemberResponseDto">

        select count(*) as row_count
        from ev_mgnt_user emu
        where del_yn = 'N'

        <if test="mgnt_id_sh != null and mgnt_id_sh != ''">
            and emu.mgnt_id like concat('%',#{mgnt_id_sh},'%')
        </if>

        <if test="mgnt_nm_sh != null and mgnt_nm_sh != ''">
            and emu.mgnt_nm like concat('%',#{mgnt_nm_sh},'%')
        </if>

    </select>

    <select id="S06_MGNT_USER_INFO" parameterType="kr.coevolution.vr.mgnt.dto.EvMgntMemberRequestDto" resultType="kr.coevolution.vr.mgnt.dto.EvMgntMemberResponseDto">
        /* 관리자 정보 상세조회 */
        select mgnt_id
            , mgnt_nm
            , email_id
            , hp_no
            , dept_nm
            , use_yn
        from ev_mgnt_user
        where mgnt_id = #{mgnt_id}
        and del_yn = 'N'
    </select>

    <select id="S07_MGNT_PRMS_LIST" parameterType="map" resultType="map">
        /* 메뉴권한조회 */
        select menu_id
             , use_yn
          from ev_menu_prms
         where mgnt_id = #{mgnt_id}
          and del_yn = 'N'
    </select>

    <select id="S08_MGNT_MENU_LIST" parameterType="map" resultType="map">
        /* 관리자 권한 내역 */
        with menu as (
            select menu_id
                , menu_nm
                , menu_url
                , upper_menu_id
                , menu_lvel
                , menu_on_clsf
                , target
            from ev_menu_mgnt a
            where menu_id like '1%'
            and use_yn = 'Y'
            and exists (select 1 from ev_menu_prms emp where menu_id = a.menu_id and mgnt_id = #{mgnt_id} and del_yn = 'N' and use_yn = 'Y')
        )
        select a.menu_id
            , a.menu_nm
            , a.menu_url
            , a.upper_menu_id
            , a.menu_lvel
            , a.menu_on_clsf
            , (select count(*) from ev_menu_mgnt emm where upper_menu_id = a.menu_id and use_yn = 'Y') as cnt
            , a.target
        from (
            select distinct z.*
            from (
                    select *
                    from menu
                    union all
                    select menu_id
                        , menu_nm
                        , menu_url
                        , upper_menu_id
                        , menu_lvel
                        , menu_on_clsf
                        , target
                    from ev_menu_mgnt a
                    where menu_id in (select upper_menu_id from menu)
            ) z
        ) a
        where menu_lvel = #{menu_lvel}
        order by case when a.menu_lvel = 2 then a.upper_menu_id  else a.menu_id end, a.menu_id

    </select>

    <select id="S09_BOOTH_LIST" parameterType="kr.coevolution.vr.mgnt.dto.EvMgntMemberRequestDto" resultType="kr.coevolution.vr.mgnt.dto.EvMgntMemberResponseDto">

        with cust as (
            select (select cd_nm from ev_comm_code ecc2 where cd_id = ecm.category1) as caregori_nm
                , ecm.cust_id
                , ecm.cust_nm
            from ev_cust_mst ecm
            where ecm.cust_clsf_cd = '202002'
            and ecm.cust_sts_cd = '105001'
            and exists (select 1 from ev_expo_customer where ev_expo_id = #{ev_expo_id} and cust_id = ecm.cust_id)

            <if test="cust_nm != null and cust_nm != ''">
                and ecm.cust_nm like concat('%',#{cust_nm},'%')
            </if>

            <if test="category1 != null and category1 != ''">
                and ecm.category1 = #{category1}
            </if>

            <if test="cust_id != null and cust_id != ''">
                and ecm.cust_id = #{cust_id}
            </if>

        )
        , access_log as (
            /* 접속건수조회 */
            select date_format(aml.access_dtm, '%Y-%m-%d')  as access_dt
                , aml.ptcp_cust_id
                , sum(case when aml.access_menu_cd = '107001' then 1 else 0 end) as cd107001 /* 기업정보 */
                , sum(case when aml.access_menu_cd = '107002' then 1 else 0 end) as cd107002 /* 자료소개 */
                , sum(case when aml.access_menu_cd = '107003' then 1 else 0 end) as cd107003 /* 갤러리 */
                , sum(case when aml.access_menu_cd = '107004' then 1 else 0 end) as cd107004 /* QA */
                , sum(case when aml.access_menu_cd = '107005' then 1 else 0 end) as cd107005 /* 홍보동영상 */
                , sum(case when aml.access_menu_cd = '107006' then 1 else 0 end) as cd107006 /* 링크바로가기 */
            from access_menu_log aml
            where date_format(aml.access_dtm, '%Y-%m-%d') between #{ins_dt_fr} and #{ins_dt_to}
            group by date_format(aml.access_dtm, '%Y-%m-%d'), aml.ptcp_cust_id
        )
        , access_dt as (
            /* 접속일자조회 */
            select date_format(access_dtm, '%Y-%m-%d') as dt
              from access_menu_log
             where date_format(access_dtm, '%Y-%m-%d') between #{ins_dt_fr} and #{ins_dt_to}
            group by date_format(access_dtm, '%Y-%m-%d')
            union
            select ins_dt
              from v_cust_favorts_badge
             where ins_dt between #{ins_dt_fr} and #{ins_dt_to}
            group by ins_dt
        )
        select ROW_NUMBER() OVER(order by caregori_nm, cust_id, cust_nm, ins_dt desc) as rn
             , a.*
        from (
                    SELECT cust.caregori_nm, cust.cust_id, cust.cust_nm

                        <if test='tot_period == "Y"'>
                        , nvl(max(access_dt.dt),#{ins_dt_fr}) AS ins_dt
                        </if>

                        <if test='tot_period != "Y"'>
                            , nvl(access_dt.dt,#{ins_dt_fr}) AS ins_dt
                        </if>

                        , sum(case when fb.clsf_cd = 'F' then fb.cnt ELSE 0 END) AS favorts_cnt
                        , sum(case when fb.clsf_cd = 'B' then fb.cnt ELSE 0 END) AS badge_cnt

                        <if test='tot_period == "Y"'>
                            , nvl((select sum(cd107001) from access_log where access_dt in (select access_dt.dt from access_dt) and ptcp_cust_id = cust.cust_id),0) AS access01_cnt /* 접속건수-기업정보 */
                            , nvl((select sum(cd107002) from access_log where access_dt in (select access_dt.dt from access_dt) and ptcp_cust_id = cust.cust_id),0) AS access02_cnt /* 접속건수-자료소개 */
                            , nvl((select sum(cd107003) from access_log where access_dt in (select access_dt.dt from access_dt) and ptcp_cust_id = cust.cust_id),0) AS access03_cnt /* 접속건수-갤러리 */
                            , nvl((select sum(cd107004) from access_log where access_dt in (select access_dt.dt from access_dt) and ptcp_cust_id = cust.cust_id),0) AS access04_cnt /* 접속건수-QA */
                            , nvl((select sum(cd107005) from access_log where access_dt in (select access_dt.dt from access_dt) and ptcp_cust_id = cust.cust_id),0) AS access05_cnt /* 접속건수-홍보동영상 */
                            , nvl((select sum(cd107006) from access_log where access_dt in (select access_dt.dt from access_dt) and ptcp_cust_id = cust.cust_id),0) AS access06_cnt /* 접속건수-링크바로가기 */
                        </if>

                        <if test='tot_period != "Y"'>
                            , nvl((select cd107001 from access_log where access_dt = access_dt.dt and ptcp_cust_id = cust.cust_id),0) AS access01_cnt /* 접속건수-기업정보 */
                            , nvl((select cd107002 from access_log where access_dt = access_dt.dt and ptcp_cust_id = cust.cust_id),0) AS access02_cnt /* 접속건수-자료소개 */
                            , nvl((select cd107003 from access_log where access_dt = access_dt.dt and ptcp_cust_id = cust.cust_id),0) AS access03_cnt /* 접속건수-갤러리 */
                            , nvl((select cd107004 from access_log where access_dt = access_dt.dt and ptcp_cust_id = cust.cust_id),0) AS access04_cnt /* 접속건수-QA */
                            , nvl((select cd107005 from access_log where access_dt = access_dt.dt and ptcp_cust_id = cust.cust_id),0) AS access05_cnt /* 접속건수-홍보동영상 */
                            , nvl((select cd107006 from access_log where access_dt = access_dt.dt and ptcp_cust_id = cust.cust_id),0) AS access06_cnt /* 접속건수-링크바로가기 */
                        </if>


                    from cust
                    join access_dt
                    left outer join v_cust_favorts_badge fb
                      ON cust.cust_id = fb.cust_id
                     and access_dt.dt = fb.ins_dt
                     and access_dt.dt between #{ins_dt_fr} and #{ins_dt_to}

                <if test='tot_period == "Y"'>
                   group BY cust.caregori_nm, cust.cust_id, cust.cust_nm
                </if>

                <if test='tot_period != "Y"'>
                    group BY cust.caregori_nm, cust.cust_id, cust.cust_nm, access_dt.dt
                </if>

            ) a
        LIMIT #{page_row_start}, #{page_row_cnt}

    </select>

    <select id="S09_BOOTH_LIST_COUNT" parameterType="kr.coevolution.vr.mgnt.dto.EvMgntMemberRequestDto" resultType="kr.coevolution.vr.mgnt.dto.EvMgntMemberResponseDto">

        with cust as (
        select (select cd_nm from ev_comm_code ecc2 where cd_id = ecm.category1) as caregori_nm
            , ecm.cust_id
            , ecm.cust_nm
        from ev_cust_mst ecm
        where ecm.cust_clsf_cd = '202002'
        and ecm.cust_sts_cd = '105001'
        and exists (select 1 from ev_expo_customer where ev_expo_id = #{ev_expo_id} and cust_id = ecm.cust_id)

        <if test="cust_nm != null and cust_nm != ''">
            and ecm.cust_nm like concat('%',#{cust_nm},'%')
        </if>

        <if test="category1 != null and category1 != ''">
            and ecm.category1 = #{category1}
        </if>

        <if test="cust_id != null and cust_id != ''">
            and ecm.cust_id = #{cust_id}
        </if>

        )
        , access_log as (
            /* 접속건수조회 */
            select date_format(aml.access_dtm, '%Y-%m-%d')  as access_dt
                , aml.ptcp_cust_id
                , sum(case when aml.access_menu_cd = '107001' then 1 else 0 end) as cd107001 /* 기업정보 */
                , sum(case when aml.access_menu_cd = '107002' then 1 else 0 end) as cd107002 /* 자료소개 */
                , sum(case when aml.access_menu_cd = '107003' then 1 else 0 end) as cd107003 /* 갤러리 */
                , sum(case when aml.access_menu_cd = '107004' then 1 else 0 end) as cd107004 /* QA */
                , sum(case when aml.access_menu_cd = '107005' then 1 else 0 end) as cd107005 /* 홍보동영상 */
                , sum(case when aml.access_menu_cd = '107006' then 1 else 0 end) as cd107006 /* 링크바로가기 */
            from access_menu_log aml
            where date_format(aml.access_dtm, '%Y-%m-%d') between #{ins_dt_fr} and #{ins_dt_to}
            group by date_format(aml.access_dtm, '%Y-%m-%d'), aml.ptcp_cust_id
        )
        , access_dt as (
            /* 접속일자조회 */
            select date_format(access_dtm, '%Y-%m-%d') as dt
              from access_menu_log
             where date_format(access_dtm, '%Y-%m-%d') between #{ins_dt_fr} and #{ins_dt_to}
             group by date_format(access_dtm, '%Y-%m-%d')
             union
            select ins_dt
              from v_cust_favorts_badge
             where ins_dt between #{ins_dt_fr} and #{ins_dt_to}
             group by ins_dt
        )
        select count(*) row_count
        from (
            SELECT cust.caregori_nm, cust.cust_id, cust.cust_nm
            from cust
            join access_dt
            left outer join v_cust_favorts_badge fb
            ON cust.cust_id = fb.cust_id
            and access_dt.dt = fb.ins_dt
            and access_dt.dt between #{ins_dt_fr} and #{ins_dt_to}

        <if test='tot_period == "Y"'>
            group BY cust.caregori_nm, cust.cust_id, cust.cust_nm
        </if>

        <if test='tot_period != "Y"'>
            group BY cust.caregori_nm, cust.cust_id, cust.cust_nm, access_dt.dt
        </if>

        ) a

    </select>

    <select id="S10_ACCESS_LOG_LIST" parameterType="kr.coevolution.vr.mgnt.dto.EvMgntMemberRequestDto" resultType="kr.coevolution.vr.mgnt.dto.EvMgntMemberResponseDto">

        /* 접속로그 */
        select ROW_NUMBER() OVER(order by ecll.login_dtm DESC) as rn
            , ecll.cust_id
            , ecm.cust_nm
            , ecll.ip
            , date_format(ecll.login_dtm , '%Y-%m-%d %H:%i:%s') as login_dtm
        from ev_cust_login_log ecll
        , ev_cust_mst ecm
        where ecll.cust_id = ecm.cust_id

        and date_format(ecll.login_dtm,'%Y-%m-%d') BETWEEN #{ins_dt_fr} AND #{ins_dt_to}

        <if test="access_nm != null and access_nm != ''">
            and ecm.cust_nm like concat('%',#{access_nm},'%')
        </if>

        <if test="access_id != null and access_id != ''">
            and ecm.cust_id like concat('%',#{access_id},'%')
        </if>

        LIMIT #{page_row_start}, #{page_row_cnt}

    </select>

    <select id="S10_ACCESS_LOG_LIST_COUNT" parameterType="kr.coevolution.vr.mgnt.dto.EvMgntMemberRequestDto" resultType="kr.coevolution.vr.mgnt.dto.EvMgntMemberResponseDto">

        /* 접속로그 건수 */
        select count(*) as row_count
        from ev_cust_login_log ecll
           , ev_cust_mst ecm
        where ecll.cust_id = ecm.cust_id

        and date_format(ecll.login_dtm,'%Y-%m-%d') BETWEEN #{ins_dt_fr} AND #{ins_dt_to}

        <if test="access_nm != null and access_nm != ''">
            and ecm.cust_nm like concat('%',#{access_nm},'%')
        </if>

        <if test="access_id != null and access_id != ''">
            and ecm.cust_id like concat('%',#{access_id},'%')
        </if>

    </select>


    <insert id="I03_MGNT_ZOOM" parameterType="kr.coevolution.vr.mgnt.dto.EvMgntZoomRequestDto">
        /* ZOOM 관리 */
        INSERT INTO ev_zoom_use_mgnt
        (zoom_mgnt_id, cust_id, use_fr_dtm, use_to_dtm, zoom_url, use_yn, ins_user, ins_dtm, mod_user, mod_dtm)
        VALUES (NULL, #{cust_id}, #{use_fr_dtm}, #{use_to_dtm}, #{zoom_url}, #{use_yn}, #{user_id}, NOW(), #{user_id}, NOW())
    </insert>
    
    <update id="U03_MGNT_ZOOM" parameterType="kr.coevolution.vr.mgnt.dto.EvMgntZoomRequestDto">
        UPDATE ev_zoom_use_mgnt
        SET use_fr_dtm=#{use_fr_dtm},
            use_to_dtm=#{use_to_dtm},
            zoom_url=#{zoom_url},
            use_yn=#{use_yn},
            mod_user=#{user_id},
            mod_dtm=NOW()
        WHERE zoom_mgnt_id = #{zoom_mgnt_id}
    </update>

    <select id="S11_MGNT_ZOOM" parameterType="kr.coevolution.vr.mgnt.dto.EvMgntZoomRequestDto" resultType="kr.coevolution.vr.mgnt.dto.EvMgntZoomResposeDto">
        SELECT zoom_mgnt_id, cust_id, use_fr_dtm, use_to_dtm, zoom_url, use_yn
        FROM ev_zoom_use_mgnt
        WHERE cust_id = #{cust_id}
        and del_yn = 'N'
        order by cust_id, zoom_mgnt_id
    </select>


    <select id="S12_EXPO_LIST" parameterType="kr.coevolution.vr.mgnt.dto.EvMgntExpoRequestDto" resultType="kr.coevolution.vr.mgnt.dto.EvMgntExpoResponseDto">

            select ROW_NUMBER() OVER(order by expo_from_dt asc) as rn
                , ev_expo_id
                , ev_expo_nm
                , apct_prod_from_dt
                , apct_prod_to_dt
                , expo_from_dt
                , expo_from_hrm
                , concat(expo_from_dt, ' ', expo_from_hrm) as expo_from_dtm
                , expo_to_dt
                , expo_to_hrm
                , concat(expo_to_dt, ' ', expo_to_hrm) as expo_to_dtm
                , use_yn
            from ev_expo
            where 1 = 1

        <if test="ev_expo_nm != null and ev_expo_nm != ''">
            and ev_expo_nm like concat('%',#{ev_expo_nm},'%')
        </if>

        <if test="expo_dt_fr != null and expo_dt_fr != ''">
            and expo_to_dt   >= #{expo_dt_fr}
        </if>

        <if test="expo_dt_to != null and expo_dt_to != ''">
            <![CDATA[ and expo_from_dt <= #{expo_dt_to} ]]>
        </if>

        <if test="use_yn != null and use_yn != ''">
            and use_yn   = #{use_yn}
        </if>

        LIMIT #{page_row_start}, #{page_row_cnt}
    </select>

    <select id="S12_EXPO_LIST_COUNT" parameterType="kr.coevolution.vr.mgnt.dto.EvMgntExpoRequestDto" resultType="kr.coevolution.vr.mgnt.dto.EvMgntExpoResponseDto">

        select count(*) as row_count
        from ev_expo
        where 1 = 1

        <if test="ev_expo_nm != null and ev_expo_nm != ''">
            and ev_expo_nm like concat('%',#{ev_expo_nm},'%')
        </if>

        <if test="expo_dt_fr != null and expo_dt_fr != ''">
            <![CDATA[ and expo_from_dt <= #{expo_dt_fr} ]]>
        </if>

        <if test="expo_dt_to != null and expo_dt_to != ''">
            and expo_to_dt   >= #{expo_dt_to}
        </if>

        <if test="use_yn != null and use_yn != ''">
            and use_yn   = #{use_yn}
        </if>

    </select>

    <select id="S12_EXPO_DTL" parameterType="kr.coevolution.vr.mgnt.dto.EvMgntExpoRequestDto" resultType="kr.coevolution.vr.mgnt.dto.EvMgntExpoResponseDto">

        select ev_expo_id
            , ev_expo_nm
            , apct_prod_from_dt
            , apct_prod_to_dt
            , expo_from_dt
            , expo_from_hrm
            , SUBSTRING(expo_from_hrm FROM 1 for 2) as expo_from_hh
            , SUBSTRING(expo_from_hrm FROM 4 for 2) as expo_from_mm
            , concat(expo_from_dt, ' ', expo_from_hrm) as expo_from_dtm
            , expo_to_dt
            , expo_to_hrm
            , SUBSTRING(expo_to_hrm FROM 1 for 2) as expo_to_hh
            , SUBSTRING(expo_to_hrm FROM 4 for 2) as expo_to_mm
            , concat(expo_to_dt, ' ', expo_to_hrm) as expo_to_dtm
            , use_yn
        from ev_expo
        where ev_expo_id = #{ev_expo_id}

    </select>

    <insert id="I12_EXPO_INSERT" parameterType="kr.coevolution.vr.mgnt.dto.EvMgntExpoRequestDto">

        INSERT INTO ev_expo (
              ev_expo_id,       ev_expo_nm,     apct_prod_from_dt,      apct_prod_to_dt,    expo_from_dt,       expo_from_hrm
            , expo_to_dt,       expo_to_hrm,    use_yn,                 ins_user,           ins_dtm,            mod_user,       mod_dtm
        ) VALUES(
              NULL,             #{ev_expo_nm},  #{apct_prod_from_dt},   #{apct_prod_to_dt}, #{expo_from_dt},    #{expo_from_hrm}
            , #{expo_to_dt},    #{expo_to_hrm}, #{use_yn},              #{user_id},         NOW(),              #{user_id},     NOW()
        )

    </insert>

    <update id="U12_EXPO_UPDATE" parameterType="kr.coevolution.vr.mgnt.dto.EvMgntExpoRequestDto">

        UPDATE ev_expo
           SET ev_expo_nm           = #{ev_expo_nm}
             , apct_prod_from_dt    = #{apct_prod_from_dt}
             , apct_prod_to_dt      = #{apct_prod_to_dt}
             , expo_from_dt         = #{expo_from_dt}
             , expo_from_hrm        = #{expo_from_hrm}
             , expo_to_dt           = #{expo_to_dt}
             , expo_to_hrm          = #{expo_to_hrm}
             , use_yn               = #{use_yn}
             , mod_user             = #{user_id}
             , mod_dtm              = NOW()
        WHERE ev_expo_id            = #{ev_expo_id}

    </update>

    <select id="S13_EXPO_CUST_LIST" parameterType="kr.coevolution.vr.mgnt.dto.EvMgntExpoRequestDto" resultType="kr.coevolution.vr.mgnt.dto.EvMgntExpoResponseDto">

        select ROW_NUMBER() OVER(order by cust_nm asc) as rn
            , cust_seq
            , cust_id
            , cust_nm
            , (select case when count(*) = 0 then 'N' else 'Y' end from ev_expo_customer where ev_expo_id = #{ev_expo_id} and cust_id = ecm.cust_id) as reg_stat
            , (select ev_expo_nm from ev_expo where ev_expo_id = #{ev_expo_id}) as ev_expo_nm
        from ev_cust_mst ecm
       where cust_clsf_cd = '202002'
         and cust_sts_cd  = '105001'
         and (exists (select 1
                        from ev_expo_customer
                       where ev_expo_id = #{ev_expo_id} and cust_id = ecm.cust_id
                     )
                or not exists (select 1 from ev_expo_customer where cust_id = ecm.cust_id)
             )

    </select>

    <delete id="I13_EXPO_CUST_INSERT" parameterType="kr.coevolution.vr.mgnt.dto.EvMgntExpoRequestDto">

        INSERT INTO ev_expo_customer
        (
            ev_expo_id, cust_id, ins_user, ins_dtm, mod_user, mod_dtm
        ) VALUES (
            #{ev_expo_id}, #{cust_id}, #{user_id}, NOW(), #{user_id}, NOW()
        )


    </delete>

    <delete id="D13_EXPO_CUST_DEL" parameterType="kr.coevolution.vr.mgnt.dto.EvMgntExpoRequestDto">

        delete from ev_expo_customer
        where ev_expo_id = #{ev_expo_id}
          and cust_id = #{cust_id}

    </delete>

    <select id="S14" resultType="kr.coevolution.vr.mgnt.dto.EvMgntExpoResponseDto">
        select nvl(max(ev_expo_id),0) as ev_expo_id from ev_expo ee where use_yn = 'Y'
    </select>

    <update id="U14" parameterType="kr.coevolution.vr.mgnt.dto.EvMgntExpoRequestDto">
        update ev_expo
           set use_yn   = 'N'
             , mod_user = #{user_id}
             , mod_dtm  = now()
         where use_yn   = 'Y'
    </update>

    <select id="S15" parameterType="kr.coevolution.vr.mgnt.dto.EvMgntExpoRequestDto" resultType="kr.coevolution.vr.mgnt.dto.EvMgntExpoResponseDto">

        select ev_expo_id, ev_expo_nm, apct_prod_from_dt, apct_prod_to_dt, expo_from_dt, expo_from_hrm, expo_to_dt, expo_to_hrm, expo_consult_from_dt, expo_consult_to_dt, use_yn
          from ev_expo ee
         where 1 = 1

        <if test="use_yn != null and use_yn != ''">
            and use_yn   = #{use_yn}
        </if>

        order by ee.expo_from_dt

    </select>

</mapper>