@font-face {
   font-family: "Noto Sans CJK KR Regular";
   src: url("fonts/Noto Sans CJK KR Regular.woff") format("woff"), url("fonts/Noto Sans CJK KR Regular.eot") format("embedded-opentype"), url("fonts/Noto Sans CJK KR Regular.otf") format("opentype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Noto Sans KR Regular";
   src: url("fonts/Noto Sans KR Regular.woff") format("woff"), url("fonts/Noto Sans KR Regular.eot") format("embedded-opentype"), url("fonts/Noto Sans KR Regular.otf") format("opentype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Noto Sans KR Black";
   src: url("fonts/Noto Sans KR Black.woff") format("woff"), url("fonts/Noto Sans KR Black.eot") format("embedded-opentype"), url("fonts/Noto Sans KR Black.otf") format("opentype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Noto Sans CJK KR Black";
   src: url("fonts/Noto Sans CJK KR Black.woff") format("woff"), url("fonts/Noto Sans CJK KR Black.eot") format("embedded-opentype"), url("fonts/Noto Sans CJK KR Black.otf") format("opentype");
   font-weight: normal;
   font-style: normal;
}