@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


/* 20210704 추가*/

.form-flex{
    display:flex;
}
.form-flex-item{
    flex:1;
    padding:0 15px;
    box-sizing:border-box;
}

@media (max-width:750px){
    .form-flex{
        margin:0 -20px;
    }
    .form-flex-item{
        padding:0 5px;
    }
    .mobile-flex-item{
        margin:0 15px !important;
    }
}


/*
********************************* 
    common ê³µí†µ ëª¨ìŒ 
**********************************
*/

input[type=file]{font-family: 'Noto Sans KR', sans-serif;
font-size: 16px;
color: #000;
font-weight: 400;
outline: 0;
line-height: 1;}
.basic-em{
    font-style:normal;
    color:#0089d0;
}


.align-center{
    text-align:center;
}

.form_head{
    text-align:center;
    margin-bottom:40px;
}
.form_head p{
    font-size:28px;
    color:#222222;
    font-weight:700;
}
.form_head span{
    font-size:30px;
    color:#222;
    font-weight:700;
    display:block;
}
.form_inner {
    margin-bottom: 20px;
}
.form_chk_btn{
    display:none;
}
.form_chk_btn + label{
    display:block;
    padding-left:20px;
    box-sizing:border-box;
    position:relative;
}
.form_chk_btn+label:before{
    content:"";
    display:block;
    width:12px;
    height:12px;
    border:1px solid #dddddd;
    box-sizing:border-box;
    position:absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
    transition:all 300ms;
}
.form_chk_btn:checked+label:before{
    border-radius:50%;
    background:#222;
    border-color:#222;
}
.disc_check{
    display:none;
}
.disc_check + label{
    display:block;
    position:relative;
    padding-left:40px;
    box-sizing:border-box;
    font-size:16px;
    color:#111111;
    text-align:left;
}
.disc_check+label:before{
    content:"";
    display:block;
    width:20px;
    height:20px;
    border:1px solid #cdcdcd;
    border-radius:50%;
    box-sizing:border-box;
    position:absolute;
    top:5px;
    left:0;
    transition:background 300ms;
}
.disc_check:checked+label:before{
    background:#0089d0;
}


.form_btn_only{
    display:block;
    width:100%;
    color:#fff;
    font-size:15px;
    font-weight:500;
    background:#0089d0;
    padding:15px 0;
    box-shadow:0;
    border:1px solid #0089d0;
}
.form_btn_inline{
    display:inline-block;
    color:#fff;
    font-size:15px;
    font-weight:500;
    background:#0089d0;
    padding:15px 70px;
    box-shadow:0;
    border:1px solid #0089d0;
}



@media (max-width:991px){
    .form_inner{
        margin-bottom:20px;
        padding: 0 15px;
    }
    .form_head{
        margin-bottom:20px;
    }
}

/*
********************************* 
    login 
**********************************
*/
.login_form{
    max-width:480px;
    width:100%;
    margin:0 auto;
}
.login_input_area{
    width:100%;
}
.input_area{
    margin-bottom:10px;
}
.input_area input{
    width:100%;
    padding:10px 8px;
    border-top:0;
    border-left:0;
    border-right:0;
    border-bottom:1px solid #dddddd;
    box-sizing:border-box;
    color:#666666;
    font-size:14px;
    font-weight:300;
    transition:border-bottom-color 300ms;
}
.input_area input:focus{
    outline:0;
    border-bottom-color:#0089d0;
}
.input_area input::placeholder{
    color:#666666;
    font-size:14px;
    font-weight:300;
}
.check_area{
    width:100%;
    margin-bottom:-30px;
}
.check_area .find_info{
    float:right;
}
.check_area .find_info a{
    display:inline-block;
    font-size:13px;
    color:#222222;
}
.check_area .find_info a:after{
    content:"";
    display:inline-block;
    width:1px;
    height:13px;
    background:#0089d0;
    margin:0 25px;
    vertical-align:middle;
}
.check_area .find_info a:last-child:after{
    display:none;
}
.login_check{
    float:right;
}
.login_check label{
    font-size:13px;
    color:#222222;
}

.login_form_btn {
    
}
.login_form_btn .login_form_submit{
    width:100%;
    background:#0089d0;
    color:#fff;
    font-size:16px;
    font-weight:700;
    border:0;
    box-shadow:1px 1px 1px #0089d0;
    padding:15px 20px;
    box-sizing:border-box;
}

.check_id{
    float:left;
}
.check_id input{
    display:none;
}
.check_id svg{
    vertical-align:middle;
    transition:all 0.3s;
}
.check_id span{
    display:inline-block;
    vertical-align:middle;
    margin-left:5px;
    font-size: 13px;
    color: #222222;
    margin-top:4px;
    transition:all 0.3s;
}
.check_id input:checked + label svg{
    color:#0089d0;
}
.check_id input:checked + label span{
    color:#0089d0;
}

.login_member{
    border:1px solid #0089d0;
    position:relative;
}
.login_member .member_page{
    display:block;
    padding:15px 25px;
    box-sizing:border-box;
    text-align:center;
    color:#rgba(0,0,0,0.8);
    font-size:16px;
    transition:all 0.3s;
}
.login_member .member_page:hover{
    background:#0089d0;
    color:#fff;
}
.login_member .login_inner_info{
    position:relative;
    padding-left:14px;
    box-sizing:border-box;
    font-size:15px;
    float:left;
}
.login_member .login_inner_info:before{
    content:"";
    display:block;
    width:5px;
    height:5px;
    border-radius:50%;
    background:#0089d0;
    position:absolute;
    top:8px;
    left:0;
}
.login_member .member_page:after{
    content:"";
    display:block;
    width:22px;
    height:10px;
    background:url(/images/right_arrow.png) no-repeat right center;
    position:absolute;
    top:50%;
    right:0;
    transform: translateY(-50%);
}
.sns_login{
    padding-top:1.5em;
    padding-bottom:1.5em;
}
.sns_login_inner ul{
    margin:0 25px;
    padding:0;
    width:calc(100% - 50px);
}
.sns_login_inner li{
    list-style:none;
    width:calc(25% - 20px);
    margin:0 10px;
    float:left;
    text-align:center;
}
.sns_login_inner li a{
    display:block;
    position:relative;
}
.sns_login_inner li a span{
    margin-top:5px;
    display:block;
}
.sns_login_inner li a img{
    max-width:60px;
    width:100%;
}

@media (max-width:991px){
    .sns_login_inner li{
        width:calc(25% - 10px);
        margin:5px;
    }
    .sns_login_inner li a span{
        display:none;
    }
}

@media (max-width:1200px){
    .form{
        padding:50px 15px;
        box-sizing:border-box;
    }
}

@media (max-width:750px){
    .login_input_area{
        width:100%;
        margin-right:0;
    }
    .login_form_btn{
        width:100%;
        float:none;
    }
    .login_form_btn .login_form_submit{
        height:auto;
        padding:12px 0;
    }
    .check_area{
        width:100%;
        top:auto;
        margin-top:20px;
        margin-bottom:auto;
        text-align:center;
    }
    .sns_login_inner ul{
        margin:0;
        width:100%;
    }

    .login_member .login_inner_info{
        float:none;
        display:block;
    }
    .login_member .member_page{
        display:block;
        float:none;
        padding:12px 0;
    }
}

@media (max-width:480px){
    .check_area .find_info a:after{
        margin:0 10px;
    }
    .check_area .find_info{
        margin-top:2px;
    }
}



/*
********************************* 
    JOIN
**********************************
*/
.join_inner{
    max-width:920px;
    width:100%;
    margin:auto;
}

.register_head{
    padding-bottom:15px;
    margin-bottom:35px;
    /* border-bottom:2px solid #000000; */
}
.register_head .register_head_tit{
    float:left;
    font-size:22px;
    color:#232323;
}
.register_head .register_head_tit span{
    margin-left:20px;
    font-size:13px;
    color:#777777;
}
.register_seq{
    margin-top:8px;
    /* margin-left:-20px; */
    /* margin-right:-20px; */
}
.register_seq li{
    width:calc(33.33% - 40px);
    float:left;
    font-size:16px;
    color:#b4b4b4;
    position:relative;
    margin:0 20px;
    text-align:center;
    border:1px solid #ddd;
    box-sizing:border-box;
    padding:15px 0;
    list-style:none;
}
/* .register_seq li:after{
    content:"";
    display:inline-block;
    margin:0 10px;
    width:6px;
    height:9px;
    background:url(/img/register_arrow.png) no-repeat center center;
    vertical-align:middle;
}
.register_seq li:last-child:after{
    display:none;
} */
.register_seq li.on{
    color:#ffff;
    background:#0089d0;
    font-weight:500;
}
/* .register_seq li.on:after{
    background:url(/img/register_arrow_on.png) no-repeat center center;
} */

.register_section{
    margin-bottom:40px;
}
.register_section_head{
    margin-bottom:20px;
}
.register_section_area textarea{
    width:100%;
    resize:none;
    height:150px;
    overflow-y:scroll;
    border:1px solid #dddddd;
    box-sizing:border-box;
    padding:10px;
}

.register_page{
    border-top:1px solid #f0f0f0;
    margin-top:35px;
    padding-top:35px;
    text-align:center;
}
.register_page .register_page_btn{
    display: inline-block;
    padding: 15px 100px;
    box-sizing: border-box;
    border:1px solid #dddddd;
    font-size: 16px;
    font-weight: 700;
    background:#aaa;
    color:#fff;
}
.register_page .register_page_submit{
    display:inline-block;
    padding:15px 100px;
    box-sizing:border-box;
    background:#0089d0;
    color:#fff;
    font-size:16px;
    font-weight:700;
    border-color:#0089d0;
    border-width:1px;
}

.register_form{
    max-width:800px;
    width:100%;
    margin:auto;
}
.register_form_area{
    margin-bottom:20px;
    display:table;
    width:100%;
}
.register_form_area .register_form_name{
    width:30%;
    display:table-cell;
    vertical-align:top;
    padding-top:5px;
}
.register_form_area .register_check_name{
    vertical-align:top;
    padding-top:5px;
    padding-bottom:5px;
    margin-bottom:10px;
    border-bottom:1px solid #d0d0d0;
}
.register_form_area .register_check_name span{
    position:relative;
}
.register_form_area .register_check_name span:after{
    content:"";
    display:block;
    width:100%;
    height:2px;
    background:#0089d0;
    position:absolute;
    bottom:-12px;
}
.register_form_area .register_form_name p{
    font-size:15px;
    color:#474747;
}
.register_form_area .register_form_input {
    width:70%;
    display:table-cell;
}
.register_form_area .register_form_input span{
    font-size:12px;
    display:block;
    margin-top:5px;
}
.register_form_area .register_form_input input{
    padding:10px 10px;
    box-sizing:border-box;
    border:1px solid #dddddd;
    margin:1px 0;
}
.register_form_area .register_form_input input:not([type=radio]){
    width:80%;
}
.register_form_area .register_form_input input.half-input{
    width:60%;
    margin:3px 0;
}
.register_form_area .register_form_input select {
    width: 80%;
    padding: 15px 10px;
    box-sizing: border-box;
    border: 1px solid #dddddd;
    background:url(/img/select-icon.png) no-repeat right 10px center;
}
.register_form_area .register_form_input button{
    width:19%;
    padding:10px 10px;
    box-sizing:border-box;
    border:1px solid #dddddd;
}
.register_form_area .register_form_input .two span {
    width: calc(66.66% - 5px);
    margin-right: 15px;
    float: left;
}
.register_form_area .register_form_input .two span:last-child {
    width:calc(33.33% - 10px);
    margin: 0;
}
.register_form_area .register_form_input .three span{
    width:calc(33.33% - 10px);
    margin-right:15px;
    float:left;
}
.register_form_area .register_form_input .three span:last-child{
    margin:0;
}
.register_form_area .register_form_input .register_form_address {
    margin-bottom:10px;
}

.register_check_box{
    background:#f4f4f4;
    padding:30px;
    box-sizing:border-box;
    text-align:left;
    margin-bottom:20px;
}
.register_check_box li{
    margin:5px 0;
}

.register_complete{
    padding:70px 0;
    text-align:center;
}
.register_complete p{
    font-size:24px;
    color:#232323;
    margin-bottom:30px;
}
.find_input_area{
	text-align:center;
}
.find_input_area input{
	width:100%;
	border:1px solid #ddd;
	box-sizing:border-box;
	max-width:320px;
	padding:10px;
	margin:5px 0;
}
.find_input_area p{
	margin-top:10px;
}
.find_input_area button{
	padding:10px;
    box-sizing:border-box;
    background:#222222;
    color:#fff;
    font-size:14px;
    font-weight:700;
    max-width:320px;
    width:100%;
}
.find_input_area a{
	display:inline-block;
	padding:10px;
    box-sizing:border-box;
    background:#eee;
    color:#666;
    font-size:14px;
    font-weight:700;
    max-width:320px;
    width:100%;
}
.find_check{
	text-align:center;
	border:1px solid #dedede;
	box-sizing:border-box;
	padding:10px 0;
}
.find_check p em{
	color:#b76c6e;
	font-size:16px;
	font-weight:500;
}

.find_out{
	text-align:center;
}
.find_out a{
	display:inline-block;
	background:#b76c6e;
	padding:5px 20px;
	box-sizing:border-box;
	color:#fff;
	border-radius:15px;
}

@media (max-width:991px){
    .register_seq{
        margin-left:0;
        margin-right:0;
    }
    .register_head .register_head_tit{
        float:none;
    }
    .register_head .register_head_tit span{
        display:block;
        margin-left:5px;
    }
    .register_page .register_page_submit{
        padding:15px 100px;
    }
    .register_page .register_page_btn{
        padding:15px 100px;
    }
}

@media (max-width:750px){
	.form{
		padding:0px;
		box-sizing:border-box;
	}
    .register_form_area .register_form_name{
        display:block;
        width:100%;
        margin-bottom:5px;
    }
    .register_form_area .register_form_input{
        display:block;
        width:100%;
    }
    .register_page .register_page_submit {
        padding: 15px 50px;
    }
    .register_page .register_page_btn {
        padding: 15px 50px;
    }
    .register_seq li{
        width:calc(33.33% - 20px);
        margin:0 10px;
    }
    .register_seq li span{
        display:block;
    }
}





/*
********************************* 
    JOIN
**********************************
*/
.join_inner{
    max-width:920px;
    width:100%;
    margin:auto;
}
/* 
.register_head{
    padding-bottom:15px;
    margin-bottom:35px;
    border-bottom:2px solid #000000;
}
.register_head .register_head_tit{
    float:left;
    font-size:22px;
    color:#232323;
}
.register_head .register_head_tit span{
    margin-left:20px;
    font-size:13px;
    color:#777777;
}
.register_seq{
    margin-top:8px;
}
.register_seq li{
    display:inline-block;
    font-size:14px;
    color:#b4b4b4;
    position:relative;
    vertical-align:middle;
}
.register_seq li:after{
    content:"";
    display:inline-block;
    margin:0 10px;
    width:6px;
    height:9px;
    background:url(/img/register_arrow.png) no-repeat center center;
    vertical-align:middle;
}
.register_seq li:last-child:after{
    display:none;
}
.register_seq li.on:after{
    background:url(/img/register_arrow_on.png) no-repeat center center;
}

.register_section{
    margin-bottom:40px;
}
.register_section_head{
    margin-bottom:20px;
}
.register_section_area textarea{
    width:100%;
    resize:none;
    height:150px;
    overflow-y:scroll;
    border:1px solid #dddddd;
    box-sizing:border-box;
    padding:10px;
}

.register_page{
    border-top:1px solid #f0f0f0;
    margin-top:35px;
    padding-top:35px;
    text-align:center;
}
.register_page .register_page_btn{
    display: inline-block;
    padding: 15px 170px;
    box-sizing: border-box;
    border:1px solid #dddddd;
    font-size: 16px;
    font-weight: 700;
}
.register_page .register_page_submit{
    display:inline-block;
    padding:15px 170px;
    box-sizing:border-box;
    background:#222222;
    color:#fff;
    font-size:16px;
    font-weight:700;
}


@media (max-width:991px){
    .register_page .register_page_btn{
        display: inline-block;
        padding: 10px 100px;
        box-sizing: border-box;
        border:1px solid #dddddd;
        font-size: 16px;
        font-weight: 700;
    }
    .register_page .register_page_submit{
        display:inline-block;
        padding:10px 100px;
        box-sizing:border-box;
        background:#222222;
        color:#fff;
        font-size:16px;
        font-weight:700;
    }
}

@media (max-width:750px){
    .register_page .register_page_btn{
        display: inline-block;
        padding: 10px 50px;
        box-sizing: border-box;
        border:1px solid #dddddd;
        font-size: 16px;
        font-weight: 700;
    }
    .register_page .register_page_submit{
        display:inline-block;
        padding:10px 50px;
        box-sizing:border-box;
        background:#222222;
        color:#fff;
        font-size:16px;
        font-weight:700;
    }
} */

.form_card{
    
}

.form_card_img{
    font-size:48px;
    padding:40px 0;
    box-sizing:border-box;
    background:#ddd;
}

.card-item-name{
    border-top:1px solid rgba(0,0,0,.1);
    background:#0089d0;
}
.card-item-name h5{
    margin:0;
    padding:10px 0;
    color:#fff;
}


.find_inner{
    max-width:560px;
    width:100%;
    margin:auto;
}

.find_tab a{
    display:block;
    float:left;
    text-align:center;
    padding:10px 0;
    color:rgba(0,0,0,0.80);
    font-size:18px;
}

.find_tab a:first-child:nth-last-child(1) { width: 100%; }                      /* liê°€ 1ê°œ ì¼ ë•Œ */ 
.find_tab a:first-child:nth-last-child(2), .find_tab a:first-child:nth-last-child(2) ~  a { width: 50%; }       /* liê°€ 2ê°œì¼ ë•Œ */ 
.find_tab a:first-child:nth-last-child(3), .find_tab a:first-child:nth-last-child(3) ~  a { width: 33.3333% }  /* liê°€  3ê°œì¼ ë•Œ */
.find_tab a:first-child:nth-last-child(4), .find_tab a:first-child:nth-last-child(4) ~  a { width: 25%; }      /* liê°€ 4ê°œì¼ ë•Œ*/
.find_tab a:first-child:nth-last-child(5), .find_tab a:first-child:nth-last-child(5) ~  a { width: 20%; }      /* liê°€ 5ê°œì¼ ë•Œ*/



.find_tab a.on{
    border-bottom:2px solid #0089d0;
}

.find_area{
    border:1px solid #ddd;
    padding:30px 50px;
    box-sizing:border-box;
}
.find_form{
    margin-top:30px;
}
.find_form_row{
    border-bottom:1px solid #ddd;
    display:table;
    width:100%;
    margin:10px 0;
}
.find_form_cell{
    display:table-cell;
    width:20%;
    vertical-align:middle;
}
.find_form_cell label{
    margin:0;
}
.find_form_cell2{
    width:80%;
}
.find_form_row input{
    width:100%;
    border:0;
    background:transparent;
    vertical-align:middle;
    padding:10px;
    box-sizing:border-box;
}

.form_btn button{
    background:#0089d0;
    color:#fff;
}

.form_bordert{
    border-top:1px solid #ddd;
}

@media (max-width:991px){
    .find_area{
        padding:30px;
    }
}


/* íšŒì›ê°€ìž… í¼ì˜´ */


/* .page-area {width:100%; min-height:calc(100vh - 112px);} */
.page-area {width:100%; min-height:calc(100vh - 80px); position:relative;}
.page-area .content-inner {width:95%; max-width:1200px; margin:0 auto; padding:60px 0 200px 0; position:relative;}
.page-area .page-title {text-align:center; font-size:30px; font-weight:700; letter-spacing:-1.5px;}
.page-area .page-sub-txt {text-align:center; font-size:16px; margin-top:20px;}
.page-area .contents-area {width:100%; margin-top:60px; padding-top:50px; position:relative;}
.page-area .contents-area:before {content:""; display:block; width:100%; height:3px; background:url(/img/sub/border_gradient.jpg) no-repeat;  background-size:cover; position:absolute; top:0; left:0;}
/* .page-area {margin-top:10px;} */
.page-area input[type="checkbox"] {display:none !important;}
.page-area input[type="checkbox"] + label {cursor:pointer; width:100%;}
/* .page-area input[type="checkbox"] + label p {display:inline-block; vertical-align:middle;} */
.page-area input[type="checkbox"] + label p {display:inline-block; vertical-align:top; width:calc(100% - 21px); line-height:1.3;}
.page-area input[type="checkbox"] + label span {width:18px; height:18px; box-sizing:border-box; display:inline-block; vertical-align:middle; border:1px solid #d9d9d9; border-radius:3px; position:relative; cursor:pointer; margin-right:3px; background:#fff;}
.page-area input[type="checkbox"]:checked + label span:after {content:""; width:5px; height:9px; border:solid #000; border-width:0 2px 2px 0; position:absolute; left:5px; top:1px; -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); transform:rotate(45deg);}
.page-area input[type="checkbox"]:disabled + label span {background:#ccc;}
.page-area input[type="radio"] {display:none !important;}
.page-area input[type="radio"] + label {cursor:pointer;}
.page-area input[type="radio"] + label p {display:inline-block; vertical-align:middle; font-size:16px;}
.page-area input[type="radio"] + label span {width:18px; height:18px; box-sizing:border-box; display:inline-block; vertical-align:middle; border:1px solid #d9d9d9; border-radius:50%; position:relative; cursor:pointer; margin-right:3px; margin-bottom:3px;}
.page-area input[type="radio"]:checked + label span:after {content:""; width:9px; height:9px; background:#000; border-radius:50%; position:absolute; left:50%; top:50%; -webkit-transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); transform:translate(-50%,-50%);}
.page-area .checked {width:18px; height:18px; box-sizing:border-box; display:inline-block; vertical-align:middle; border:1px solid #d9d9d9; border-radius:3px; position:relative; cursor:pointer; margin-right:3px; background:#fff; margin-right:3px;}
.page-area .checked:after {content:""; width:5px; height:9px; border:solid #000; border-width:0 2px 2px 0; position:absolute; left:5px; top:1px; -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); transform:rotate(45deg);}
.page-area .non-checked {width:18px; height:18px; box-sizing:border-box; display:inline-block; vertical-align:middle; border:1px solid #d9d9d9; border-radius:3px; position:relative; cursor:pointer; margin-right:3px; background:#ccc; margin-right:3px;}
.page-area .radio-checked {width:18px; height:18px; box-sizing:border-box; display:inline-block; vertical-align:middle; border:1px solid #d9d9d9; border-radius:50%; position:relative; cursor:pointer; margin-right:3px;}
.page-area .radio-checked:after {content:""; width:9px; height:9px; background:#000; border-radius:50%; position:absolute; left:50%; top:50%; -webkit-transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); transform:translate(-50%,-50%);}
.page-area .radio-non-checked {width:18px; height:18px; box-sizing:border-box; display:inline-block; vertical-align:middle; border:1px solid #d9d9d9; border-radius:50%; position:relative; cursor:pointer; margin-right:3px; background:#ccc;}



/*íšŒì›ê°€ìž…*/
.join-intro .contents-area {background:#f7f7f7; border:#e0e0e0 solid 1px; border-top:0; box-sizing:border-box;}
.join-intro .contents-area .top_tit{text-align:center; font-size:30px; padding-top:50px;}
.join-intro .contents-area .top_tit span{color:#0070ba; font-weight:700;}
.join-intro .contents-area .join-type {height:400px; display:table; text-align:center; width:80%; margin:0 auto; /*border:solid #e7e7e7; border-width:1px 0 1px 1px;*/}
.join-intro .contents-area .join-type .type_box{width:50%; display:table-cell; vertical-align:middle; font-size:0; /*border-right:1px solid #e7e7e7;*/}
.join-intro .contents-area .join-type .type-btn {display:inline-block; vertical-align:middle; /*margin-left:20px;*/ width:250px; box-sizing:border-box; border-radius:6px; height:50px; line-height:50px; margin-top:20px; color:#fff; letter-spacing:0; font-weight:500; font-size:20px}
.join-intro .join-type .type1 .type-btn {background:#0070ba;}
.join-intro .join-type .type2 .type-btn {background:#0eac43;}

.member .join-form-area {}
.member .join-form-area .form-box {width:100%; margin-top:50px;}
.member .join-form-area .form-box:nth-child(1) {margin-top:10px;}
.member .join-form-area .form-box h1.sub-title {font-size:20px; font-weight:500; margin-bottom:15px;}
.member .join-form-area .form-box .agree-box {width:100%; height:150px; box-sizing:border-box; border:1px solid #d9d9d9; background:#f7f7f7; padding:20px; overflow-y:auto; font-size:14px; word-wrap:break-word; word-break:keep-all;white-space:pre-wrap; line-height:20px;}
.member .join-form-area .form-box .agree-box table{margin:10px 0}
.member .join-form-area .form-box .agree-box table tr td{border:#ccc solid 1px; padding:10px; text-align:center; word-break:break-all;}
.member .join-form-area .form-box .chk-box {margin-top:10px;}
.member .join-form-area .form-box .top-txt {text-align:right; font-size:14px; margin-bottom:10px; letter-spacing:-1px;}
.member .join-form-area .form-box .top-txt span {color:red; display:inline-block; vertical-align:middle;}
.member .join-form-area .form-box .join-form-tb {width:100%; box-sizing:border-box; position:relative; border-top:2px solid #0089d0;}
.member .join-form-area .form-box .join-form-tb:before {content:""; width:200px; height:100%; background:#f7f7f7; position:absolute; left:0; top:0;}
.member .join-form-area .form-box .join-form-tb .tb-tr {width:100%; box-sizing:border-box; padding:15px 0; border-bottom:1px solid #e7e7e7; position:relative; font-size:0;}
.member .join-form-area .form-box .join-form-tb .tb-tr > * {display:inline-block; vertical-align:middle; box-sizing:border-box; position:relative;}
.member .join-form-area .form-box .join-form-tb .tb-tr.tr-half {width:100%; font-size:0; position:relative;}
.member .join-form-area .form-box .join-form-tb .tb-tr.tr-half:before {content:""; width:200px; height:100%; background:#f7f7f7; position:absolute; left:50%; top:0;}
.member .join-form-area .form-box .join-form-tb .tb-tr.tr-half > * {width:50%; display:inline-block; vertical-align:middle; box-sizing:border-box; position:relative;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-th {width:200px; font-size:16px; font-weight:500; padding:0 20px;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-th span {color:red; display:inline-block; vertical-align:middle;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td {width:calc(100% - 200px); padding:0 20px; font-size:0;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td > * {display:inline-block; vertical-align:middle; margin-right:5px;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td > *:last-child {margin-right:0;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td input[type="text"],
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td input[type="password"] {height:35px; box-sizing:border-box; border:1px solid #d9d9d9; padding:0 5px; font-size:16px; border-radius:0; -webkit-appearance:none;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td input.input-box {width:100%; max-width:265px;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td input.input-box.input-w {width:100%; max-width:80%;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td input::placeholder {color:#d7d7d7;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td textarea {width:100%; min-height:200px; box-sizing:border-box; border:1px solid #d9d9d9; padding:5px; font-size:16px; resize:none; overflow-y:scroll;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td textarea::placeholder {color:#d7d7d7;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .select-box {height:35px; box-sizing:border-box; border:1px solid #d9d9d9; position:relative; background:#fff; cursor:pointer; width:100%;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .select-box:after {content:""; width:0; height:0; border-top:5px solid #000; border-left:4px solid transparent; border-right:4px solid transparent; position:absolute; right:10px; top:50%; -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); transform:translateY(-50%);}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .select-box select {width:100%; height:33px; border:none; box-sizing:border-box; appearance:none; -webkit-appearance:none; -moz-appearance:none; padding:0 10px;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .select-box select::-ms-expand {display:none;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .chk-btn {width:100px; height:35px; border-radius:5px; background:#0070ba; text-align:center; margin-right:0;}
html:lang(en) .member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .chk-btn{width:150px;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .chk-btn a {display:block; font-size:16px; line-height:40px; color:#fff;}
.member .join-form-area .form-box .join-form-tb .tb-tr.tr-half .half-box {font-size:0;}
.member .join-form-area .form-box .join-form-tb .tb-tr.tr-half .half-box > * {display:inline-block; vertical-align:middle; box-sizing:border-box;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .input-phone {width:100%; font-size:0;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .input-phone > * {display:inline-block; vertical-align:middle; margin-left:20px; position:relative; width:calc(((100% - 40px) / 3) - 1px); max-width:120px;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .input-phone > *:before {content:"-"; font-size:16px; position:absolute; left:-13px; top:50%; -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); transform:translateY(-50%);}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .input-phone > *:nth-child(1) {margin-left:0;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .input-phone > *:nth-child(1):before {display:none;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .input-email {width:100%; font-size:0;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .input-email > * {display:inline-block; vertical-align:middle; position:relative; width:calc(((100% - 40px) / 3) - 1px); max-width:200px;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .input-email .in-box:nth-child(1) {margin-right:30px;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .input-email .in-box:nth-child(1):after {content:"@"; font-size:16px; position:absolute; right:-22px; top:50%; -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); transform:translateY(-50%);}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .input-email .select-box {margin-left:5px;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .input-country {width:50%; max-width:120px;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .input-comtype {width:50%; max-width:220px;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .input-addr {width:100%;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .input-addr .addr-box {width:100%; box-sizing:border-box; font-size:0; margin-top:5px;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .input-addr .addr-box:nth-child(1) {margin-top:0;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .input-addr .addr-box > * {display:inline-block; vertical-align:middle; margin-right:5px;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .input-addr .addr-box > *:last-child {margin-right:0;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .input-addr .addr-box.zip-box > * {width:calc(100% - 155px); max-width:120px;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .input-addr .addr-box .zip-btn {width:150px; height:35px; background:#333; text-align:center; border-radius:5px;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .input-addr .addr-box .zip-btn a {display:block; font-size:16px; line-height:35px; color:#fff;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .input-company {width:100%; font-size:0;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .input-company > * {display:inline-block; vertical-align:middle; margin-right:5px; width:calc(((100% - 5px) / 2) - 1px);}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .input-company > *:last-child {margin-right:0;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .input-company .in-box input {max-width:100%;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .bunya_box {display:block; width:100%;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .bunya_tit {font-size:17px; font-weight:500; position:relative; padding-left:15px; margin-bottom:10px;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .bunya_tit:before {content:""; display:block; width:3px; height:15px; background:#0070ba; position:absolute; top:50%; left:0; transform:translateY(-50%); -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%);}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .input-chk {width:100%; margin-bottom:20px;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .input-chk li {display:inline-block; vertical-align:top; font-size:16px; width:25%; box-sizing:border-box; padding-right:10px; margin-top:10px;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .input-chk li:nth-child(-n+4) {margin-top:0;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .select-box.select-org {width:100%; max-width:300px;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .select-box.select-year {width:100%; max-width:150px;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td p {font-size:14px; margin-bottom:0px; padding-top:3px;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .input-new-pwd {width:100%; margin-top:10px; display:none;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .input-new-pwd > * {display:inline-block; vertical-align:middle; margin-right:5px; width:calc(((100% - 5px) / 2) - 1px); max-width:300px;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .input-new-pwd > *:last-child {margin-right:0;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td p.notice {color:red;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .scale_box .input-chk{margin-bottom:0;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .scale_box {display:block; width:100%;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .scale_box li.other{font-size:0;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .scale_box li.other > *{display:inline-block; vertical-align:middle;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .scale_box li.other label{width:60px; font-size:16px;}
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .scale_box li.other input[type="text"]{width:calc(100% - 60px);}

.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .general_chk_box {display:block; width:100%;}
/* .member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .general_chk_box li{width:50%;} */
.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .general_chk_box li:nth-child(-n+4) {margin-top:10px;}



.member .button-area {width:100%; text-align:center; font-size:0; margin-top:30px;}
.member .button-area .btn {width:150px; height:50px; border-radius:10px; box-sizing:border-box; display:inline-block; vertical-align:middle; margin-left:10px; text-align:center;}
.member .button-area .btn:nth-child(1) {margin-left:0;}
.member .button-area .btn.btn-join, .member .button-area .btn.btn-edit {background:#0070ba; border:1px solid #0070ba;}
.member .button-area .btn.btn-cancel {background:#fff; border:1px solid #d9d9d9;}
.member .button-area .btn.btn-delete {background:#fff; border:1px solid #0070ba;}
.member .button-area .btn a {display:block; font-size:16px; line-height:48px; color:#fff;}
.member .button-area .btn a p{line-height:24px;}
.member .button-area .btn.btn-cancel a {color:#000;}
.member .button-area .btn.btn-delete a {color:#000;}

.login .login-box {width:95%; max-width:450px; margin:0 auto;}
.login .login-box dl {font-size:0; width:100%;}
.login .login-box dl > * {display:inline-block; vertical-align:bottom; padding:10px 0; font-size:16px; border-bottom:1px solid #e7e7e7;}
.login .login-box dl dt {width:30%; font-weight:400; padding-bottom:19px;}
.login .login-box dl dd {width:70%;}
.login .login-box input[type="text"], .login .login-box input[type="password"] {width:100%; height:35px; box-sizing:border-box; border:none; background:#efefef; padding:0 5px; font-size:16px;}
.login .login-box input::placeholder {color:#d7d7d7;}
/*.login .login-box .login-btn {width:100%; height:50px; box-sizing:border-box; border-radius:10px; background:#000; text-align:center; margin-top:10px;}
.login .login-box .login-btn a {display:block; font-size:16px; line-height:50px; color:#fff;}*/
.login .login-box .mem-bnt-1 {width:100%; height:50px; box-sizing:border-box; border-radius:10px; background:#0070ba; text-align:center; margin-top:10px;}
.login .login-box .mem-bnt-1 a {display:block; font-size:16px; line-height:50px; color:#fff;}
.login .login-box .login-gnb {width:100%; font-size:0; margin-top:20px; padding-bottom:20px; border-bottom:1px solid #e7e7e7;}
.login .login-box .login-gnb > * {display:inline-block; vertical-align:middle;}
.login .login-box .login-gnb .lf-box {font-size:16px; width:150px;}
.login .login-box .login-gnb .rt-box {width:calc(100% - 150px);}
.login .login-box .login-gnb .rt-box ul {width:100%; text-align:right;}
.login .login-box .login-gnb .rt-box ul li {display:inline-block; vertical-align:middle; padding:0 10px; position:relative; font-size:16px;}
.login .login-box .login-gnb .rt-box ul li:before {content:""; width:1px; height:60%; border-left:1px solid #d9d9d9; position:absolute; left:0; top:50%; -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); transform:translateY(-50%);}
.login .login-box .login-gnb .rt-box ul li:nth-child(1):before {display:none;}
.login .login-box .join-btn {width:100%; height:50px; box-sizing:border-box; border-radius:10px; border:1px solid #d3d3d3; text-align:center; margin-top:20px;}
.login .login-box .join-btn a {display:block; font-size:16px; line-height:50px; color:#000;}
.login .login-box .sns_login{font-size:0;}
.login .login-box .sns_login > *{display:inline-block; vertical-align:middle;}
.login .login-box .sns_login .join-btn{width:calc(33.333% - 6px); height:100%; margin-right:9px;}
.login .login-box .sns_login .join-btn:last-child{margin-right:0;}
.login .login-box .sns_login .join-btn a{position:relative; padding-top:100%; }
.login .login-box .sns_login .join-btn a p.txt{position: absolute; top: 50%; left: 0; width: 100%; text-align: center; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); line-height:1.5}
.login .login-box .sns_login .join-btn a p.txt img{display:block; margin:0 auto 10px;}
.login .login-box .select-box {width:100%; height:35px; box-sizing:border-box; border:1px solid #d9d9d9; position:relative; background:#fff; cursor:pointer;}
.login .login-box .select-box:after {content:""; width:0; height:0; border-top:5px solid #000; border-left:4px solid transparent; border-right:4px solid transparent; position:absolute; right:10px; top:50%; -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); transform:translateY(-50%);}
.login .login-box .select-box select {width:100%; height:33px; border:none; box-sizing:border-box; appearance:none; -webkit-appearance:none; -moz-appearance:none; padding:0 10px;}
.login .login-box .select-box select::-ms-expand {display:none;}
.login .login-box .input-inner {}
.login .login-box .input-inner > * {display:block; width:100%; margin-top:5px; position:relative;}
.login .login-box .input-inner > *:nth-child(1) {margin-top:0;}
.login .login-box.find-id-pwd .input-inner > *:nth-child(1) {margin-bottom:30px;} 
.login .login-box.find-id-pwd .input-inner > *:nth-child(1):after {content:"@"; position:absolute; left:50%; bottom:-20px; transform:translateX(-50%);}

.join-intro .login-box{width:100%; max-width:none;}
.join-intro .login-box .sns_login{font-size:0; margin-top:15px;}
.join-intro .login-box .sns_login > *{display:inline-block; vertical-align:middle;}
.join-intro .login-box .sns_login .join-btn{width:calc(33.333% - 14px); height:100%; margin-right:21px; box-sizing:border-box; border:1px solid #e0e0e0; border-radius:10px; padding:20px; text-align:center; margin-top:0;}
.join-intro .login-box .sns_login .join-btn:last-child{margin-right:0;}
.join-intro .login-box .sns_login .join-btn a{padding-top:0;}
.join-intro .login-box .sns_login .join-btn a p.txt{position: relative; top: 0; left: 0; width: 100%; text-align: center; transform: translateY(0); -webkit-transform: translateY(0); -moz-transform: translateY(0); line-height:1.5}
.join-intro .login-box .sns_login .join-btn a p.txt img{vertical-align:middle; padding-right:20px; display:inline-block; margin-bottom:0;}



@media screen and (max-width:1100px) {
	
	.page-area .page-title{font-size:27px;}
	.page-area .content-inner{padding:50px 0 150px 0;}
	.page-area .contents-area{margin-top:50px;}
	

	.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .input-chk li{width:33.333%;}
	
	

	
} 
@media screen and (max-width:1024px) {
	
	.page-area .page-title{font-size:25px;}
	
	
	
	.member .join-form-area .form-box h1.sub-title{font-size:18px;}
	.mypage .mypage-tab ul li a{font-size:14px;}
	.member .join-form-area .form-box .join-form-tb:before{width:150px;}
	.member .join-form-area .form-box .join-form-tb .tb-tr.tr-half:before{width:150px;}
	.member .join-form-area .form-box .join-form-tb .tb-tr .tb-th{font-size:15px; width:150px;}
	.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td{width:calc(100% - 150px);}
	.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td p{font-size:15px;}
	.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .select-box select{font-size:15px;}
	.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td input[type="text"], .member .join-form-area .form-box .join-form-tb .tb-tr .tb-td input[type="password"]{font-size:15px;}
	

	
	.page-area input[type="radio"] + label p{font-size:15px;}


	
} 

@media screen and (max-width:900px) {
	
	.sub .page_cate li.cate{font-size:13px; padding-left:15px; margin-left:5px;}
	.page-area .page-title{font-size:22px;}
	.page-area .content-inner{padding:40px 0 120px 0;}
	.page-area .contents-area{margin-top:40px; padding-top:30px;}
	
	
	
	.mypage .mypage-tab ul li{height:35px;}
	.mypage .mypage-tab ul li a{font-size:13px;}
	
	.member .join-form-area .form-box h1.sub-title{margin-bottom:10px;}
	.member .join-form-area .form-box .join-form-tb:before{width:110px;}
	.member .join-form-area .form-box .join-form-tb .tb-tr.tr-half:before{width:110px;}
	.member .join-form-area .form-box .join-form-tb .tb-tr .tb-th{font-size:13px; width:110px; padding:0 10px;}
	.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td{width:calc(100% - 110px); padding:0 10px;}
	.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td p{font-size:13px;}
	.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .select-box select{font-size:13px;}
	.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td input[type="text"], .member .join-form-area .form-box .join-form-tb .tb-tr .tb-td input[type="password"]{font-size:13px;}
	.member .button-area{margin-top:20px;}
	.member .button-area .btn{height:40px; width:120px;}
	.member .button-area .btn a{font-size:14px; line-height:38px;}
	.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .input-chk li{font-size:14px;}
	
	.mypage .top-booth-btn{width:150px;}
	.mypage .top-booth-btn a{font-size:14px;}
	.my-booth .board-write .write-tb.write-ty-1 .tb-tr .tb-td ul.booth-type li .select-area{font-size:13px;}
	.page-area .checked{width:15px; height:15px;}
	.page-area .non-checked{width:15px; height:15px;}
	.page-area .checked:after{width:3px; height:7px;}
	.page-area .radio-checked{width:15px; height:15px;}
	.page-area .radio-non-checked{width:15px; height:15px;}
	.page-area .radio-checked:after{width:8px; height:8px;}
	
	
	
} 
@media screen and (max-width:768px) {
	
	.page-area .page-title{font-size:20px;}
	.page-area .content-inner{padding:40px 0 100px 0;}
	
	
	.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .input-chk li{font-size:13px;}

	
	
	.join-intro .contents-area .top_tit{font-size:20px; padding-top:20px;}
	.join-intro .contents-area .join-type{height:250px;}
	.join-intro .contents-area .join-type .type-btn{width:180px; font-size:14px; height:40px; line-height:40px;}
	.join-intro .login-box .sns_login .join-btn{padding:15px; width: calc(33.333% - 6px);
    height: 100%; margin-right: 9px;}
	.join-intro .login-box .sns_login .join-btn a p.txt{font-size:14px;}
	.join-intro .login-box .sns_login .join-btn a p.txt img{padding-right:15px; width:45px;}
	
	
} 
@media screen and (max-width:600px) {
	
	.sub .page_cate{padding-top:5px;}
	.sub .page_cate li.cate{font-size:11px; padding-left:12px; margin-left:2px;}
	.sub .page_cate li.home{width:15px; height:12px; background-size:cover;}
	.page-area .page-title{font-size:18px;}
	.page-area .contents-area{padding-top:10px;}

	.mypage .mypage-tab:after{display:none;}
	
	.member .join-form-area .form-box{margin-top:20px;}
	.member .join-form-area .form-box h1.sub-title{font-size:16px;}
	.member .join-form-area .form-box .top-txt{font-size:13px; margin-bottom:5px;}
	.member .join-form-area .form-box .join-form-tb:before{width:90px;}
	.member .join-form-area .form-box .join-form-tb .tb-tr{padding:10px 0;}
	.member .join-form-area .form-box .join-form-tb .tb-tr.tr-half:before{width:90px;}
	.member .join-form-area .form-box .join-form-tb .tb-tr .tb-th{font-size:12px; width:90px; padding:0 5px;}
	.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td{width:calc(100% - 90px); padding:0 5px;}
	.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td p{font-size:12px;}
	.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .select-box{height:30px;}
	.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .select-box select{font-size:12px; height:28px;}
	.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td input[type="text"], .member .join-form-area .form-box .join-form-tb .tb-tr .tb-td input[type="password"]{font-size:12px; height:30px;}
	.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td input.sintnum{width:calc(100% - 115px);}
	.member .button-area .btn{height:35px; width:100px;}
	.member .button-area .btn a{font-size:12px; line-height:33px;}
	.member .join-form-area .form-box .agree-box{font-size:13px;}
	.member .join-form-area .form-box .chk-box{font-size:13px;}
	.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td#idview input[type="text"]{width:calc(100% - 115px);}
	.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .chk-btn{height: 30px; width: 110px !important;}
	.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .chk-btn a{font-size:12px; line-height:30px;}
	.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .input-chk li{font-size:12px; width:50%;}
	.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .input-chk li:nth-child(-n+4){margin-top:10px;}
	.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .input-chk li:nth-child(-n+2){margin-top:0;}
	.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .bunya_tit{font-size:14px; padding-left:10px;}

	
} 
@media screen and (max-width:480px) {
	

	
	.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .select-box{width:100%;}
	.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .input-email > *{width: calc(((100% - 28px) / 2) - 1px);}
	.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .input-email .select-box{display:block; width:100%; margin-left:0; max-width:100%; margin-top:10px;}
	.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td input.input-box{max-width:100%;}
	.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td input.input-box.input-w{max-width:100%;}
	.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td p.notice{font-size:10px; margin-top:5px;}
	.member .join-form-area .form-box .join-form-tb .tb-tr.tr-half{padding:0;}
	.member .join-form-area .form-box .join-form-tb .tb-tr.tr-half .half-box:first-child{border-bottom:1px solid #e7e7e7;}
	.member .join-form-area .form-box .join-form-tb .tb-tr.tr-half .half-box{width:100%; padding:10px 0;}
	.member .join-form-area .form-box .join-form-tb .tb-tr.tr-half:before{display:none;}
	.member .join-form-area .form-box .join-form-tb .tb-tr .tb-td .input-chk li{font-size:11px; letter-spacing:-2px;}

	
} 




/* ì •ë³´ ë™ì˜ */

.terms_bx{
    width:100%;
    height:150px;
    overflow-y:scroll;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    padding: 15px;
}
 .terms_article{
    margin-bottom:30px;
}
 .terms_article h3{
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 700;
    line-height: 1.5;
    color: #212529;
    letter-spacing: 0;
}
 .terms_article p{
    margin-bottom:15px;
    font-size: 14px;
    line-height: 16px;
    color: #666;
}
 .terms_article ol{
    padding-left:15px;
}
 .terms_article ol li{
    font-size:14px;
    color: #666;
    margin-bottom:10px;
}
 .terms_article ol li p{
    margin:5px 0;
}
 .terms_article ol li span{
    display:block;
}
 .terms_article ul{
    padding-left:5px;
    box-sizing:border-box;
    list-style:none;
}
 .terms_article ul li{
    position:relative;
    padding-left:10px;
    box-sizing:border-box;
    position:relative;
    margin:5px 0;
}
 .terms_article ul li:before{
    content:"";
    display:block;
    width:5px;
    height:1px;
    background:#666;
    position:absolute;
    top:9px;
    left:0;
}
 .terms_article dl{
    margin-top:10px;
}
 .terms_article dt{
    margin-bottom:10px;
    font-weight:400;
}
 .terms_article dd{
    font-size:12px;
}
 .terms_article table{
    max-width:600px;
    width:100%;
}
 .terms_article table th{
    padding:5px;
    box-sizing:border-box;
    text-align:center;
    border:1px solid #333;
}
 .terms_article table td{
    border:1px solid #666;
    padding:0 5px;
    text-align:center;
}
.secret-info-tit{
    font-size:24px;
    margin-bottom:30px;
}


/* mypage */

.member-name{
    font-size:18px;
    margin-bottom:20px;
}
.member-info dl{
    margin-bottom:5px;
    display:table;
    width:100%;
}
.member-info dl dt{
    font-size:14px;
    font-weight:700;
    display:table-cell;
    width:50%;
    text-align:center;
    padding:0 5px;
}
.member-info dl dd{
    font-size:12px;
    display:table-cell;
    text-align:left;
    padding:0 5px;
}
.sidenav-list li{
    margin-bottom:-1px;
    background:#fff;
    padding:5px;
    box-sizing:border-box;
}

.sidenav-list li a{
    color:#666;
    font-size:14px;
}
.sidenav-list li a.on{
    color:#0089d0;
}

.list-group li a{
    display:block;
    padding-left:20px;
    box-sizing:border-box;
    position:relative;
}
.list-group li a:before{
    content:"-";
    display:block;
    position:absolute;
    top:0px;
    left:0;
}

.table-des{
    font-size:16px;
}
.table-des p{
    margin:0;
}
.table-striped td{
    vertical-align:middle !important;
}

.search-tab{
    font-size:0;
}
.search-tab a{
    font-size:14px;
    color:#666;
    display:inline-block;
}
.search-tab a:after{
    content:"";
    display:inline-block;
    width:3px;
    height:3px;
    background:#666;
    border-radius:50%;
    vertical-align:middle;
    margin:0 5px 5px;
}
.search-tab a:last-child:after{
    display:none;
}
.search-tab a.on{
    color:#0089d0;
    font-weight:500;
}


/* mypage common */
.breadcrumb{
    margin-bottom:30px !important;
}


@media (max-width:1200px){
    .search-tab{
        margin-top:20px;
        width:100% !important;
        margin-right:auto !important;
    }
    .member-info dl dt{
        display:block;
        width:100%;
        text-align:left;
    }
    .member-info dl dd{
        display:block;
        width:100%;
    }
    .breadcrumb-heading{
        display:none;
    }
}




/* mypage ë‚´ ì •ë³´ ìˆ˜ì • */

.basic-table{
    width:100%;
    border-top:1px solid #0089d0;
}
.basic-table th{
    background:#f7f7f7;
    color:#333;
    width:20%;
    text-align:center;
    padding:5px;
    border-bottom:1px solid #e7e7e7;
    box-sizing:border-box;
}
.basic-table td{
    padding:5px 10px;
    border-bottom:1px solid #e7e7e7;
    border-left:1px solid #e7e7e7;
    box-sizing:border-box;
}
.basic-table input:not([type=file]){
    width:100%;
}
.basic-table textarea{
    resize:none;
    width:100%;
}

.table-responsive table{
    min-width:770px;
}

@media (max-width:991px){
    .basic-table th{
        display:block;
        width:100%;
    }
    .basic-table td{
        display:block;
        width:100%;
    }
}

.basic-table-fix{
    width:100%;
    border-top:1px solid #0089d0;
}
.basic-table-fix th{
    background:#f7f7f7;
    color:#333;
    width:20%;
    text-align:center;
    padding:5px;
    border-bottom:1px solid #e7e7e7;
    box-sizing:border-box;
}
.basic-table-fix td{
    padding:5px 10px;
    border-bottom:1px solid #e7e7e7;
    border-left:1px solid #e7e7e7;
    box-sizing:border-box;
}
.basic-table-fix input:not([type=file]){
    width:100%;
}
.basic-table-fix textarea{
    resize:none;
    width:100%;
}

/* 말품선 */
.speech-bubble-left { 
	position: relative; 
	background: #cde69b; 
	border-radius: .4em; 
	padding: 1rem;
} .speech-bubble-left:after { 
	content: ''; 
	position: absolute; 
	left: 0; 
	top: 50%; 
	width: 0; 
	height: 0; 
	border: 0.5em solid transparent; 
	border-right-color: #cde69b; 
	border-left: 0; 
	border-bottom: 0; 
	margin-top: -0.25em; 
	margin-left: -0.5em; 
}

.speech-bubble-right {
	position: relative;
	background: #d9e2ff;
	border-radius: .4em;
	padding: 1rem;
	text-align:right
}

.speech-bubble-right:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.5em solid transparent;
	border-left-color: #d9e2ff;
	border-right: 0;
	border-bottom: 0;
	margin-top: -0.25em;
	margin-right: -0.5em;
}