<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.coevolution.vr.member.domain.EvMemberMapper">

    <insert id="I01_BADGE" parameterType="kr.coevolution.vr.member.dto.EvMemberBadgeRequestDto" useGeneratedKeys="true">

        <selectKey resultType="Long" keyProperty="badge_id" order="AFTER">
            SELECT LAST_INSERT_ID() as badge_id
        </selectKey>

        /* 뱃지등록 */
        INSERT INTO ev_cust_badge (
            badge_id, cust_id, give_cust_id, badge_clsf_cd, badge_cnt, ins_user, ins_dtm
        ) VALUES (
            NULL, #{cust_id}, #{give_cust_id}, #{badge_clsf_cd}, #{badge_cnt}, #{user_id}, NOW()
        )

    </insert>

    <select id="S01_BADGE" parameterType="kr.coevolution.vr.mypage.dto.EvMypageBadgeRequestDto"
            resultType="kr.coevolution.vr.mypage.dto.EvMypageBadgeResponseDto">

        SELECT ROW_NUMBER() OVER() as rn
            , a.badge_id
            , a.cust_id
            , a.give_cust_id
            , case when a.badge_clsf_cd in ('211001','211002') then '부여'
                    when a.badge_clsf_cd in ('211003') then '사용'
                    when a.badge_clsf_cd in ('211004') then '회수'
                end AS badge_clsf_nm
            , concat (nvl(
                            (select cd_nm from ev_comm_code where cd_id = a.badge_clsf_cd)
                        ,''),
                    case when a.badge_clsf_cd = '211002' then concat(a.give_cust_id, ' 등록')
                         when a.badge_clsf_cd = '211001' then '뱃지부여'
                         when a.badge_clsf_cd in ('211003','211004') then
                            concat(' ', nvl((select cd_nm from ev_comm_code ecc where cd_id = ecm.category1), ''), ' ', ecm.cust_nm)
                    end
                ) AS badge_conts
            , case when a.badge_clsf_cd IN ('211001','211002','211004') then a.badge_cnt ELSE 0 END AS badge_recv_cnt
            , case when a.badge_clsf_cd IN ('211003') then a.badge_cnt ELSE 0 END AS badge_use_cnt
            , date_format(a.ins_dtm,'%Y-%m-%d') AS ins_dt
        FROM ev_cust_badge a
        left outer join ev_cust_mst ecm
        on a.give_cust_id = ecm.cust_id
        where a.cust_id = #{cust_id}
        AND date_format(a.ins_dtm,'%Y-%m-%d') BETWEEN #{ins_dt_fr} AND #{ins_dt_to}

        <if test="slt_badge_clsf != null and slt_badge_clsf != ''">
            <choose>
                <when test="slt_badge_clsf == '211001'">
                    and a.badge_clsf_cd in ('211001','211002')
                </when>
                <otherwise>
                    and a.badge_clsf_cd = #{slt_badge_clsf}
                </otherwise>
            </choose>
        </if>

        ORDER BY a.ins_dtm DESC
        LIMIT #{page_row_start}, #{page_row_cnt}

    </select>

    <select id="S02_BADGE" parameterType="kr.coevolution.vr.mypage.dto.EvMypageBadgeRequestDto"
            resultType="kr.coevolution.vr.mypage.dto.EvMypageBadgeResponseDto">

        SELECT count(*) as row_count
             , (SELECT SUM(x.badge_cnt)
                  FROM ev_cust_badge x
                 WHERE x.cust_id = #{cust_id}) as tot_badge
        FROM ev_cust_badge a
        left outer join ev_cust_mst ecm
        on a.give_cust_id = ecm.cust_id
        WHERE a.cust_id = #{cust_id}
        AND date_format(a.ins_dtm,'%Y-%m-%d') BETWEEN #{ins_dt_fr} AND #{ins_dt_to}

        <if test="slt_badge_clsf != null and slt_badge_clsf != ''">
            <choose>
                <when test="slt_badge_clsf == '211001'">
                    and a.badge_clsf_cd in ('211001','211002')
                </when>
                <otherwise>
                    and a.badge_clsf_cd = #{slt_badge_clsf}
                </otherwise>
            </choose>
        </if>

    </select>

    <select id="S03_BADGE" parameterType="kr.coevolution.vr.member.dto.EvMemberBadgeRequestDto"
            resultType="kr.coevolution.vr.mypage.dto.EvMypageBadgeResponseDto">

        /* VR 기업정보 뱃지 조회 - 값이 0보다 크면 체크, 0 언체크 */
        SELECT a.cust_id
             , a.give_cust_id
             , sum(a.badge_cnt) as sum_badge_cnt
             , nvl((select sum(badge_cnt) from ev_cust_badge where give_cust_id = #{give_cust_id} and badge_clsf_cd IN ('211003','211004')),0) as tot_badge
          FROM ev_cust_badge a
         WHERE a.cust_id = #{cust_id}
           AND a.badge_clsf_cd IN ('211003','211004') /* 뱃지사용,회수 */
           AND a.give_cust_id = #{give_cust_id}
         GROUP BY a.cust_id, a.give_cust_id

    </select>

    <select id="S04_BADGE" parameterType="kr.coevolution.vr.mypage.dto.EvMypageBadgeRequestDto"
            resultType="kr.coevolution.vr.mypage.dto.EvMypageBadgeResponseDto">
        /* 기업 뱃지 적립내역 */
        SELECT ROW_NUMBER() OVER() as rn
        , a.badge_id
        , a.cust_id
        , ecm.cust_nm
        , a.give_cust_id
        , case when a.badge_clsf_cd in ('211001','211002') then '부여'
                when a.badge_clsf_cd in ('211003') then '사용'
                when a.badge_clsf_cd in ('211004') then '회수'
          end AS badge_clsf_nm
        , concat (nvl(
            (select cd_nm from ev_comm_code where cd_id = a.badge_clsf_cd)
            ,''),
            case when a.badge_clsf_cd = '211002' then concat(a.give_cust_id, ' 등록')
                when a.badge_clsf_cd = '211001' then '뱃지부여'
                when a.badge_clsf_cd in ('211003','211004') then
                    concat(' ', nvl((select cd_nm from ev_comm_code ecc where cd_id = ecm.category1), ''), ' ', ecm.cust_nm)
            end
          ) AS badge_conts
        , case when a.badge_clsf_cd IN ('211001','211002','211004') then a.badge_cnt ELSE 0 END AS badge_recv_cnt
        , case when a.badge_clsf_cd IN ('211003') then a.badge_cnt ELSE 0 END AS badge_use_cnt
        , date_format(a.ins_dtm,'%Y-%m-%d') AS ins_dt
        FROM ev_cust_badge a
        left outer join ev_cust_mst ecm
        on a.cust_id = ecm.cust_id
        WHERE a.give_cust_id = #{cust_id}
        AND date_format(a.ins_dtm,'%Y-%m-%d') BETWEEN #{ins_dt_fr} AND #{ins_dt_to}

        <if test="slt_badge_clsf != null and slt_badge_clsf != ''">
            <choose>
                <when test="slt_badge_clsf == '211001'">
                    and a.badge_clsf_cd in ('211001','211002')
                </when>
                <otherwise>
                    and a.badge_clsf_cd = #{slt_badge_clsf}
                </otherwise>
            </choose>
        </if>

        ORDER BY a.ins_dtm DESC
        LIMIT #{page_row_start}, #{page_row_cnt}

    </select>

    <select id="S05_BADGE" parameterType="kr.coevolution.vr.mypage.dto.EvMypageBadgeRequestDto"
            resultType="kr.coevolution.vr.mypage.dto.EvMypageBadgeResponseDto">

        /* 기업 뱃지 적립 건수 */

        SELECT count(*) as row_count
            , (SELECT SUM(x.badge_cnt)
                FROM ev_cust_badge x
                WHERE x.give_cust_id = #{cust_id}
              ) as tot_badge
        FROM ev_cust_badge a
        WHERE a.give_cust_id = #{cust_id}
        AND date_format(ins_dtm,'%Y-%m-%d') BETWEEN #{ins_dt_fr} AND #{ins_dt_to}

        <if test="slt_badge_clsf != null and slt_badge_clsf != ''">
            <choose>
                <when test="slt_badge_clsf == '211001'">
                    and a.badge_clsf_cd in ('211001','211002')
                </when>
                <otherwise>
                    and a.badge_clsf_cd = #{slt_badge_clsf}
                </otherwise>
            </choose>
        </if>

    </select>


    <select id="S06_BADGE_SH1" parameterType="kr.coevolution.vr.mypage.dto.EvMypageBadgeRequestDto"
            resultType="kr.coevolution.vr.mypage.dto.EvMypageBadgeResponseDto">

        /* 관리자페이지 부스 뱃지 내역 */
        SELECT ROW_NUMBER() OVER() as rn
            , a.badge_id
            , a.cust_id
            , (select cust_nm from ev_cust_mst where cust_id = a.cust_id) as cust_nm
            , (select cust_nm from ev_cust_mst where cust_id = a.give_cust_id) as give_cust_nm
            , (select cd_nm from ev_comm_code where cd_id = a.badge_clsf_cd) AS badge_clsf_nm
            , case when a.badge_clsf_cd IN ('211001','211002','211004') then a.badge_cnt ELSE 0 END AS badge_recv_cnt
            , case when a.badge_clsf_cd IN ('211003') then a.badge_cnt ELSE 0 END AS badge_use_cnt
            , date_format(ins_dtm,'%Y-%m-%d') AS ins_dt
        FROM ev_cust_badge a
        WHERE a.give_cust_id = #{cust_id}
        AND date_format(ins_dtm,'%Y-%m-%d') BETWEEN #{ins_dt_fr} AND #{ins_dt_to}
        ORDER BY a.ins_dtm DESC
        LIMIT #{page_row_start}, #{page_row_cnt}

    </select>

    <select id="S07_BADGE_SH1" parameterType="kr.coevolution.vr.mypage.dto.EvMypageBadgeRequestDto"
            resultType="kr.coevolution.vr.mypage.dto.EvMypageBadgeResponseDto">

        /* 관리자페이지 부스 뱃지 내역 건수 */
        SELECT count(*) as row_count
            , (SELECT SUM(x.badge_cnt)
                FROM ev_cust_badge x
                WHERE x.give_cust_id = #{cust_id}
              ) as tot_badge
        FROM ev_cust_badge a
        WHERE a.give_cust_id = #{cust_id}
        AND date_format(ins_dtm,'%Y-%m-%d') BETWEEN #{ins_dt_fr} AND #{ins_dt_to}

    </select>


</mapper>