<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.coevolution.vr.member.domain.EvMemberMapper">

    <select id="S01_CUST" parameterType="kr.coevolution.vr.member.dto.EvMemberSearchDto" resultType="kr.coevolution.vr.member.dto.EvMemberResposeDto">

        /* 회원중복체크 */
        SELECT COUNT(*) AS CNT
          FROM ev_cust_mst
         where cust_id = #{cust_id}

    </select>

    <select id="S01_CUST_RCMDER" parameterType="kr.coevolution.vr.member.dto.EvMemberSearchDto" resultType="kr.coevolution.vr.member.dto.EvMemberResposeDto">

        /* 추천인체크 */
        SELECT COUNT(*) AS CNT
        FROM ev_cust_mst
        where cust_sts_cd = '105001'
        and cust_clsf_cd = '202001'
        and cust_id = #{cust_id}

    </select>

    <select id="S02_CUST" parameterType="kr.coevolution.vr.member.dto.EvMemberLoginRequestDto" resultType="kr.coevolution.vr.member.dto.EvMemberLoginInfoDto">

        /* 로그인 회원정보 조회 */
        SELECT cust_seq
             , cust_id as cust_id
             , cust_id as user_id
             , cust_nm
             , email_id
             , cust_clsf_cd
             , date_format(ins_dtm,'%Y-%m-%d')  as ins_dt
        FROM ev_cust_mst
        where cust_id = #{user_id}
          and cust_pw = #{user_pw}
          and cust_sts_cd = '105001'

    </select>

    <select id="S02_CUST_SOCIAL" parameterType="kr.coevolution.vr.member.dto.EvMemberLoginRequestDto" resultType="kr.coevolution.vr.member.dto.EvMemberLoginInfoDto">

        /* 로그인 회원정보 조회 */
        SELECT cust_seq
             , cust_id as cust_id
             , cust_id as user_id
             , cust_nm
             , email_id
             , cust_clsf_cd
             , date_format(ins_dtm,'%Y-%m-%d')  as ins_dt
        FROM ev_cust_mst
        where 1=1
            <choose>
                <when test="reg_provider == 'google'">
                    AND google_email = #{google_email}
                </when>
                <when test="reg_provider == 'naver'">
                    AND naver_email = #{naver_email}
                </when>
                <when test="reg_provider == 'kakao'">
                    AND kakao_email = #{kakao_email}
                </when>
                <otherwise>
                    AND facebook_email = #{facebook_email}
                </otherwise>
            </choose>

    </select>

    <select id="S02_CUST_ID_FIND" parameterType="kr.coevolution.vr.member.dto.EvMemberLoginRequestDto" resultType="kr.coevolution.vr.member.dto.EvMemberLoginInfoDto">

        /* 로그인 회원정보 조회 */
        SELECT cust_seq
        , cust_id as cust_id
        , cust_id as user_id
        , cust_nm
        , email_id
        , cust_clsf_cd
        FROM ev_cust_mst
        where cust_nm = #{cust_nm}
          and email_id = #{email_id}

    </select>

    <select id="S02_CUST_PW_FIND" parameterType="kr.coevolution.vr.member.dto.EvMemberLoginRequestDto" resultType="kr.coevolution.vr.member.dto.EvMemberLoginInfoDto">

        /* 로그인 회원정보 조회 */
        SELECT cust_seq
             , cust_id as cust_id
             , cust_id as user_id
             , cust_nm
             , email_id
             , cust_clsf_cd
        FROM ev_cust_mst
        where cust_id = #{cust_id}
          and cust_nm = #{cust_nm}
          and email_id = #{email_id}

    </select>

    <select id="S02_CUST_EMAIL_CHECK" parameterType="kr.coevolution.vr.member.dto.EvMemberLoginRequestDto" resultType="kr.coevolution.vr.member.dto.EvMemberLoginInfoDto">

        /* 소셜 회원가입시 이미 가입된 이메일이 있는지 조회 */
        SELECT cust_seq
             , cust_id as cust_id
             , cust_id as user_id
             , cust_nm
             , email_id
             , cust_clsf_cd
        FROM ev_cust_mst
        where cust_id = #{cust_id}

    </select>

    <select id="S03_CUST" parameterType="kr.coevolution.vr.member.dto.EvMemberLoginRequestDto" resultType="kr.coevolution.vr.member.dto.EvMemberResposeDto">

        /* 회원정보 조회 */
        SELECT cust_seq
            , cust_id as cust_id
            , cust_id as user_id
            , cust_clsf_cd
            , cust_sts_cd
            , (select case when #{lang} = 'en' then cd_nm_en else cd_nm end from ev_comm_code where cd_id = a.cust_sts_cd) as cust_sts_nm
            , cust_nm
            , company_nm
            , dept_nm
            , rep_nm
            , posn_nm
            , gender_cd
            , age_cd
            , hp_no
            , tel_no
            , email_id
            , country_cd
            , city_nm
            , zip_code
            , addr_1
            , addr_2
            , visit_pups_cd
            , rcmder_cust_id
            , agree_1
            , agree_dtm_1
            , date_format(DATE_ADD(agree_dtm_1, INTERVAL 24 MONTH),'%Y-%m-%d %H:%i:%s')   as agree1_dtm_fm
            , date_format(DATE_ADD(agree_dtm_1, INTERVAL 24 MONTH), case when #{lang} = 'en' then '%Y-%m-%d' else '%Y년%m월%d일' end)                              as agree1_dt_end
            , date_format(DATE_ADD(DATE_ADD(agree_dtm_1, INTERVAL 24 MONTH), INTERVAL 1 DAY), case when #{lang} = 'en' then '%Y-%m-%d' else '%Y년%m월%d일' end)    as agree1_dt_expr
            , agree_2
            , agree_dtm_2
            , agree_3
            , agree_dtm_3
            , google_email
            , naver_email
            , kakao_email
            , facebook_email
            , reg_provider
            , date_format(ins_dtm,'%Y-%m-%d')  as ins_dt
            , date_format(ins_dtm,'%Y-%m-%d %H:%i:%s')  as ins_dtm
            , category1
            , nvl((select cd_val1 from ev_comm_code where cd_id = a.category1),'#!') as category1_value
            , category2
            , category3
            , tiemzone_cd
        FROM ev_cust_mst a
        where cust_id = #{cust_id}

    </select>

    <select id="S03_CUST_SEQ" parameterType="kr.coevolution.vr.member.dto.EvMemberLoginRequestDto" resultType="kr.coevolution.vr.member.dto.EvMemberResposeDto">

        /* 회원정보 조회 */
        SELECT cust_seq
        , cust_id as cust_id
        , cust_id as user_id
        , cust_clsf_cd
        , cust_sts_cd
        , (select cd_nm from ev_comm_code where cd_id = a.cust_sts_cd) as cust_sts_nm
        , cust_nm
        , company_nm
        , dept_nm
        , rep_nm
        , posn_nm
        , gender_cd
        , age_cd
        , hp_no
        , tel_no
        , email_id
        , country_cd
        , city_nm
        , zip_code
        , addr_1
        , addr_2
        , visit_pups_cd
        , rcmder_cust_id
        , agree_1
        , agree_dtm_1
        , date_format(DATE_ADD(agree_dtm_1, INTERVAL 24 MONTH),'%Y-%m-%d %H:%i:%s')   as agree1_dtm_fm
        , date_format(DATE_ADD(agree_dtm_1, INTERVAL 24 MONTH),'%Y년%m월%d일')         as agree1_dt_end
        , date_format(DATE_ADD(DATE_ADD(agree_dtm_1, INTERVAL 24 MONTH), INTERVAL 1 DAY),'%Y년%m월%d일')  as agree1_dt_expr
        , agree_2
        , agree_dtm_2
        , agree_3
        , agree_dtm_3
        , google_email
        , naver_email
        , kakao_email
        , facebook_email
        , reg_provider
        , date_format(ins_dtm,'%Y-%m-%d')  as ins_dt
        , category1
        , nvl((select cd_val1 from ev_comm_code where cd_id = a.category1),'#!') as category1_value
        , category2
        , category3
        FROM ev_cust_mst a
        where cust_seq = #{cust_seq}

    </select>

    <select id="S06_INTRST" parameterType="kr.coevolution.vr.member.dto.EvMemberLoginRequestDto" resultType="map">
        select intrst_id
             , cust_id
             , intrst_cd
          from ev_cust_intrst
        where cust_id = #{cust_id}
          and del_yn = 'N'
        order by intrst_cd
    </select>

    <insert id="I01_CUST" parameterType="map" useGeneratedKeys="true">
        <selectKey resultType="Long" keyProperty="cust_seq" order="AFTER">
            SELECT LAST_INSERT_ID() as cust_seq
        </selectKey>

        /* 회원등록 */
        INSERT INTO ev_cust_mst
        (
              cust_seq, cust_id, cust_pw, cust_sts_cd, cust_clsf_cd, cust_nm
            , company_nm, dept_nm, rep_nm, posn_nm, gender_cd
            , age_cd, hp_no, tel_no, email_id, country_cd
            , zip_code, addr_1, addr_2
            , city_nm, visit_pups_cd, rcmder_cust_id, agree_1, agree_dtm_1
            , agree_2, agree_dtm_2, agree_3, agree_dtm_3, ins_user
            , ins_dtm, mod_user, mod_dtm, google_email, naver_email, kakao_email, facebook_email, reg_provider
            , category1, category2, category3
        ) VALUES (
              NULL, #{cust_id}, #{cust_pw}, #{cust_sts_cd}, #{cust_clsf_cd}, #{cust_nm}
            , #{company_nm}, #{dept_nm}, #{rep_nm}, #{posn_nm}, #{gender_cd}
            , #{age_cd}, #{hp_no}, #{tel_no}, #{email_id}, #{country_cd}
            , #{zip_code}, #{addr_1}, #{addr_2}
            , #{city_nm}, #{visit_pups_cd}, #{rcmder_cust_id}, #{agree_1}, NOW()
            , #{agree_2}, NOW(), #{agree_3}, NOW(), #{user_id}
            , NOW(), #{user_id}, NOW(), #{google_email}, #{naver_email}, #{kakao_email}, #{facebook_email}, #{reg_provider}
            , #{category1}, #{category2}, #{category3}
        )

    </insert>

    <insert id="I02_CUST" parameterType="map">

        /* 회원관심사항 입력 */
        INSERT INTO ev_cust_intrst
        (
            intrst_id, cust_id, intrst_cd, del_yn, ins_user, ins_dtm, mod_user, mod_dtm
        ) VALUES (
            NULL, #{cust_id}, #{intrst_cd}, 'N', #{user_id}, NOW(), #{user_id}, NOW()
        )

    </insert>

    <update id="U01_CUST" parameterType="map">

        /* 회원정보수정 */
        UPDATE ev_cust_mst
           SET company_nm       = #{company_nm}
             , dept_nm          = #{dept_nm}
             , rep_nm           = #{rep_nm}
             , posn_nm          = #{posn_nm}
             , gender_cd        = #{gender_cd}
             , age_cd           = #{age_cd}
             , hp_no            = #{hp_no}
             , tel_no           = #{tel_no}
             , email_id         = #{email_id}
             , country_cd       = #{country_cd}
             , zip_code         = #{zip_code}
             , addr_1           = #{addr_1}
             , addr_2           = #{addr_2}
             , city_nm          = #{city_nm}
             , visit_pups_cd    = #{visit_pups_cd}
             , category1        = #{category1}
             , category2        = #{category2}
             , category3        = #{category3}
             , mod_user         = #{user_id}
             , mod_dtm          = NOW()
         WHERE cust_id         = #{cust_id}
    </update>

    <update id="U02_CUST" parameterType="map">

        /* 회원관심사항 삭제처리 */
        UPDATE ev_cust_intrst
          SET del_yn    = 'Y'
            , mod_user  = #{user_id}
            , mod_dtm   =  NOW()
        WHERE cust_id   = #{cust_id}

    </update>

    <update id="U03_CUST" parameterType="kr.coevolution.vr.member.dto.EvMemberLoginRequestDto">

        /* 회원비빌번호 변경 */
        UPDATE ev_cust_mst
           SET cust_pw  = #{user_change_pw1}
             , mod_user = #{user_id}
             , mod_dtm  = NOW()
         WHERE cust_id  = #{cust_id}

    </update>

    <update id="U03_CUST_PW_INIT" parameterType="kr.coevolution.vr.member.dto.EvMemberLoginRequestDto">

        /* 회원비빌번호 임시저장 */
        UPDATE ev_cust_mst
        SET cust_pw  = #{user_change_pw1}
          , mod_user = 'init_pw'
          , mod_dtm  = NOW()
        WHERE cust_id  = #{cust_id}

    </update>

    <update id="U04_AGREE" parameterType="kr.coevolution.vr.member.dto.EvMemberLoginRequestDto">

        /* 재동의 */
        UPDATE ev_cust_mst
        SET agree_1  = #{agree_1}
          , agree_dtm_1 = NOW()
          , agree_2  = #{agree_2}
          , agree_dtm_2 = NOW()
          , mod_user = #{user_id}
          , mod_dtm  = NOW()
        WHERE cust_id  = #{cust_id}

    </update>

    <update id="U05_WDRAL" parameterType="kr.coevolution.vr.member.dto.EvMemberLoginRequestDto">

        /* 회원탈퇴 */
        UPDATE ev_cust_mst
        SET cust_sts_cd = '105003'
        , company_nm = ''
        , dept_nm = ''
        , rep_nm = ''
        , posn_nm = ''
        , gender_cd = ''
        , age_cd = ''
        , hp_no = ' '
        , tel_no = ''
        , email_id = ''
        , country_cd = ''
        , city_nm = ''
        , zip_code = ''
        , addr_1 = ''
        , addr_2 = ''
        , visit_pups_cd = ''
        , rcmder_cust_id = ''
        , agree_1 = ''
        , agree_dtm_1 = null
        , agree_2 = ''
        , agree_dtm_2 = null
        , agree_3 = ''
        , agree_dtm_3 = null
        , member_wdrwl_rsn  = #{member_wdrwl_rsn}
        , category1 = ''
        , category2 = ''
        , category3 = ''
        , mod_user = #{user_id}
        , mod_dtm  = NOW()
        WHERE cust_id  = #{cust_id}

    </update>

    <insert id="I03_CUST_LOG" parameterType="map">
        INSERT INTO ev_cust_mst_log
        (
              log_id		, cust_seq			, cust_id			, cust_pw			, cust_sts_cd
            , cust_clsf_cd	, cust_nm			, company_nm		, dept_nm			, rep_nm
            , posn_nm		, gender_cd			, age_cd			, hp_no				, tel_no
            , email_id		, country_cd		, city_nm			, zip_code			, addr_1
            , addr_2		, visit_pups_cd	    , rcmder_cust_id	, agree_1			, agree_dtm_1
            , agree_2		, agree_dtm_2		, agree_3			, agree_dtm_3		, member_wdrwl_rsn
            , ins_user		, ins_dtm			, mod_user			, mod_dtm			, google_email
            , naver_email	, kakao_email		, facebook_email	, reg_provider		, create_date
            , category1     , category2         , category3
        )
        SELECT
            null			, cust_seq			, cust_id			, cust_pw			, cust_sts_cd
            , cust_clsf_cd	, cust_nm			, company_nm		, dept_nm			, rep_nm
            , posn_nm		, gender_cd			, age_cd			, hp_no				, tel_no
            , email_id		, country_cd		, city_nm			, zip_code			, addr_1
            , addr_2		, visit_pups_cd	    , rcmder_cust_id	, agree_1			, agree_dtm_1
            , agree_2		, agree_dtm_2		, agree_3			, agree_dtm_3		, member_wdrwl_rsn
            , ins_user		, ins_dtm			, mod_user			, mod_dtm			, google_email
            , naver_email	, kakao_email		, facebook_email	, reg_provider		, NOW()
            , category1     , category2         , category3
        FROM ev_cust_mst
        WHERE cust_id = #{cust_id}
          or cust_seq = #{cust_seq}
    </insert>

    <select id="S04_AGREE_LIST" parameterType="map" resultType="map">
        /* 동의정보조회 */
        select ROW_NUMBER() OVER() as rn
        , DATE_FORMAT(min(a.ins_dtm), '%Y-%m-%d') AS ins_dt
        , DATE_FORMAT(a.agree_dtm_1, '%Y-%m-%d %H:%i:%s') AS agree_dtm
        from ev_cust_mst_log a
        where cust_id = #{cust_id}
        group by agree_dtm_1
        order by agree_dtm_1
    </select>

    <insert id="I04_LOGIN_LOG" parameterType="map">

        INSERT INTO ev_cust_login_log
        (login_seq, cust_id, ip, rmk, login_dtm)
        VALUES (NULL, #{cust_id}, #{ip}, #{rmk}, NOW())

    </insert>

    <select id="S08_COPR_LIST" parameterType="kr.coevolution.vr.member.dto.EvMemberSearchDto" resultType="kr.coevolution.vr.member.dto.EvMemberCorpResposeDto">
        /* top 참여기업 조회 */
        select a.*
        from (
            select ecm.cust_id
                , ecm.cust_nm
                , ecm.category1
                , nvl((select cd_nm from ev_comm_code ecc2 where ecc2.cd_id = ecm.category1),'') as category1_nm
                , ecm.category2
                , ecm.category3
                , nvl((select cd_val1 from ev_comm_code ecc where ecc.cd_id = ecm.category1),'#!') as vr_shortcut_url
                , (select case when count(*) = 0 then 'N' else  'Y' end as favorts_yn from ev_cust_favorts ecf where ecf.favorts_cust_id = ecm.cust_id and ecf.cust_id = #{cust_id} and del_yn = 'N') as favorts_yn
                , (select case when nvl(sum(badge_cnt),0) * (-1) = 0 then 'N' else  'Y' end as badge_yn from ev_cust_badge ecb  where ecb.give_cust_id = ecm.cust_id and ecb.cust_id = #{cust_id} and badge_clsf_cd in ('211003', '211004') /* 사용, 회수 */) as badge_yn
                , (select nvl(sum(badge_cnt),0) * (-1) as badge_sum from ev_cust_badge ecb  where ecb.give_cust_id = ecm.cust_id and badge_clsf_cd in ('211003', '211004') /* 사용, 회수 */) as badge_sum
                , (select file_path from ev_file_attach efa where efa.board_id = ecm.cust_seq and file_clsf_cd = '101008' and file_clsf_dtl_cd = '102006' and del_yn = 'N') as ci_url
            from ev_cust_mst ecm
            left outer join ev_cust_corp_info ecci
                on ecm.cust_id = ecci.cust_id
            where  ecm.cust_sts_cd 		= '105001'
            and ecm.cust_clsf_cd		= '202002'

        <if test="category != null and category != ''">
            and ecm.category1 			= #{category}
        </if>

        <if test="keyword != null and keyword != ''">
            and ecm.cust_nm 			like concat('%',#{keyword}, '%')
        </if>

        ) a
        order by a.badge_sum desc, a.cust_nm asc

        LIMIT #{page_row_start}, #{page_row_cnt}

    </select>

    <select id="S08_COPR_LIST_COUNT" parameterType="kr.coevolution.vr.member.dto.EvMemberSearchDto" resultType="kr.coevolution.vr.member.dto.EvMemberCorpResposeDto">
        /* top 참여기업 조회 */

        select count(*) as row_count
        from ev_cust_mst ecm
        left outer join ev_cust_corp_info ecci
        on ecm.cust_id = ecci.cust_id
        where  ecm.cust_sts_cd 		= '105001'
        and ecm.cust_clsf_cd		= '202002'

        <if test="category != null and category != ''">
            and ecm.category1 			= #{category}
        </if>

        <if test="keyword != null and keyword != ''">
            and ecm.cust_nm 			like concat('%',#{keyword}, '%')
        </if>

    </select>

    <select id="S09_ZOOM_LIST" parameterType="kr.coevolution.vr.member.dto.EvMemberSearchDto" resultType="kr.coevolution.vr.member.dto.EvMemberZoomResposeDto">
        /* zoom 사용리스트 */
        select zoom_mgnt_id
            , concat('zoom', zoom_mgnt_id) as zoom_id
            , cust_id
            , zoom_url
            , use_fr_dtm
            , use_to_dtm
            , use_yn
        from ev_zoom_use_mgnt ezum
        where del_yn = 'N'

        <if test="cust_id != null and cust_id != ''">
            and ezum.cust_id 			= #{cust_id}
        </if>

        order by cust_id, zoom_mgnt_id

    </select>

    <update id="U10_SET_TIMEZONE" parameterType="kr.coevolution.vr.member.dto.EvMemberLoginRequestDto">

        /* 상담예약-타임존 셋팅 */
        UPDATE ev_cust_mst
        SET tiemzone_cd  = #{tiemzone_cd}
            , mod_user = #{user_id}
            , mod_dtm  = NOW()
        WHERE cust_id  = #{cust_id}

    </update>

    <update id="U11_CUST" parameterType="map">

        /* 회원정보수정 */
        UPDATE ev_cust_mst
        SET cust_nm             = #{cust_nm}
            , email_id          = #{email_id}
            , tel_no            = #{tel_no}
            , hp_no             = #{hp_no}
            , dept_nm           = #{dept_nm}
            , rep_nm            = #{rep_nm}
            , country_cd        = #{country_cd}
            , category1         = #{category1}
            , mod_user          = #{user_id}
            , mod_dtm           = NOW()
        WHERE cust_id           = #{cust_id}
    </update>

</mapper>
