<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.coevolution.vr.member.domain.EvMemberMapper">

    <insert id="I01_BADGE" parameterType="kr.coevolution.vr.member.dto.EvMemberBadgeRequestDto" useGeneratedKeys="true">

        <selectKey resultType="Long" keyProperty="badge_id" order="AFTER">
            SELECT LAST_INSERT_ID() as badge_id
        </selectKey>

        /* 뱃지등록 */
        INSERT INTO ev_cust_badge (
            badge_id, cust_id, give_cust_id, badge_clsf_cd, badge_cnt, ins_user, ins_dtm, ev_expo_id
        ) VALUES (
            NULL, #{cust_id}, #{give_cust_id}, #{badge_clsf_cd}, #{badge_cnt}, #{user_id}, NOW(), (select max(ev_expo_id) from ev_expo where use_yn = 'Y')
        )

    </insert>

    <select id="S01_BADGE" parameterType="kr.coevolution.vr.mypage.dto.EvMypageBadgeRequestDto"
            resultType="kr.coevolution.vr.mypage.dto.EvMypageBadgeResponseDto">

        SELECT ROW_NUMBER() OVER(ORDER BY a.ins_dtm DESC) as rn
            , a.badge_id
            , a.cust_id
            , a.give_cust_id
            , case when a.badge_clsf_cd in ('211001','211002') then case when #{lang} = 'ko' then '부여' else 'Received' end
                    when a.badge_clsf_cd in ('211003') then case when #{lang} = 'ko' then '사용' else 'Used' end
                    when a.badge_clsf_cd in ('211004') then case when #{lang} = 'ko' then '회수' else 'Withdrawn' end
                end AS badge_clsf_nm
            , concat (nvl(
                            (select case when #{lang} = 'ko' then cd_nm else cd_nm_en end from ev_comm_code where cd_id = a.badge_clsf_cd)
                        ,''),
                    case when a.badge_clsf_cd = '211002' then concat(a.give_cust_id, case when #{lang} = 'ko' then ' 등록' else ' Registered' end)
                         when a.badge_clsf_cd = '211001' then case when #{lang} = 'ko' then '뱃지부여' else '' end
                         when a.badge_clsf_cd in ('211003','211004') then
                            concat(' ', nvl((select case when #{lang} = 'ko' then cd_nm else cd_nm_en end from ev_comm_code ecc where cd_id = ecm.category1), ''), ' ', ecm.cust_nm)
                    end
                ) AS badge_conts
            , case when a.badge_clsf_cd IN ('211001','211002','211004') then a.badge_cnt ELSE 0 END AS badge_recv_cnt
            , case when a.badge_clsf_cd IN ('211003') then a.badge_cnt ELSE 0 END AS badge_use_cnt
            , date_format(a.ins_dtm,'%Y-%m-%d') AS ins_dt
        FROM ev_cust_badge a
        left outer join ev_cust_mst ecm
        on a.give_cust_id = ecm.cust_id
        where a.cust_id = #{cust_id}
        AND date_format(a.ins_dtm,'%Y-%m-%d') BETWEEN #{ins_dt_fr} AND #{ins_dt_to}

        <if test="slt_badge_clsf != null and slt_badge_clsf != ''">
            <choose>
                <when test="slt_badge_clsf == '211001'">
                    and a.badge_clsf_cd in ('211001','211002')
                </when>
                <otherwise>
                    and a.badge_clsf_cd = #{slt_badge_clsf}
                </otherwise>
            </choose>
        </if>

        LIMIT #{page_row_start}, #{page_row_cnt}

    </select>

    <select id="S02_BADGE" parameterType="kr.coevolution.vr.mypage.dto.EvMypageBadgeRequestDto"
            resultType="kr.coevolution.vr.mypage.dto.EvMypageBadgeResponseDto">

        SELECT count(*) as row_count
             , (SELECT SUM(x.badge_cnt)
                  FROM ev_cust_badge x
                 WHERE x.cust_id = #{cust_id}) as tot_badge
        FROM ev_cust_badge a
        left outer join ev_cust_mst ecm
        on a.give_cust_id = ecm.cust_id
        WHERE a.cust_id = #{cust_id}
        AND date_format(a.ins_dtm,'%Y-%m-%d') BETWEEN #{ins_dt_fr} AND #{ins_dt_to}

        <if test="slt_badge_clsf != null and slt_badge_clsf != ''">
            <choose>
                <when test="slt_badge_clsf == '211001'">
                    and a.badge_clsf_cd in ('211001','211002')
                </when>
                <otherwise>
                    and a.badge_clsf_cd = #{slt_badge_clsf}
                </otherwise>
            </choose>
        </if>

    </select>

    <select id="S03_BADGE" parameterType="kr.coevolution.vr.member.dto.EvMemberBadgeRequestDto"
            resultType="kr.coevolution.vr.mypage.dto.EvMypageBadgeResponseDto">

        /* VR 기업정보 뱃지 조회 - 값이 0보다 크면 체크, 0 언체크 */
        SELECT a.cust_id
             , a.give_cust_id
             , sum(a.badge_cnt) as sum_badge_cnt
             , nvl((select sum(badge_cnt)  * (-1) from ev_cust_badge where give_cust_id = #{give_cust_id} and badge_clsf_cd IN ('211003','211004')),0) as tot_badge /* 참가업체 총 뱃지 - vr 기업정보에 표시됨 */
          FROM ev_cust_badge a
         WHERE a.cust_id = #{cust_id}
           AND a.badge_clsf_cd IN ('211003','211004') /* 뱃지사용,회수 */
           AND a.give_cust_id = #{give_cust_id}
         GROUP BY a.cust_id, a.give_cust_id

    </select>

    <select id="S03_BADGE_TOT" parameterType="kr.coevolution.vr.member.dto.EvMemberBadgeRequestDto"
            resultType="kr.coevolution.vr.mypage.dto.EvMypageBadgeResponseDto">

        /* 현재고객이 가지고 있는 총 뱃지 - GROUP BY 값이 없으면 조회가 안되어 분리 */
        select sum(badge_cnt) AS cust_tot_badge
          from ev_cust_badge
         where cust_id = #{cust_id}

    </select>

    <select id="S04_BADGE" parameterType="kr.coevolution.vr.mypage.dto.EvMypageBadgeRequestDto"
            resultType="kr.coevolution.vr.mypage.dto.EvMypageBadgeResponseDto">
        /* 기업 뱃지 적립내역 */
        select *
          from (
                    SELECT ROW_NUMBER() OVER(order by a.ins_dtm desc) as rn
                    , a.badge_id
                    , a.cust_id
                    , ecm.cust_nm
                    , a.give_cust_id
                    , case when a.badge_clsf_cd in ('211001','211002') then '부여'
                            when a.badge_clsf_cd in ('211003') then '받음'
                            when a.badge_clsf_cd in ('211004') then '회수'
                      end AS badge_clsf_nm
                    , concat (nvl(
                        (select cd_nm from ev_comm_code where cd_id = a.badge_clsf_cd)
                        ,''),
                        case when a.badge_clsf_cd = '211002' then concat(a.give_cust_id, ' 등록')
                            when a.badge_clsf_cd = '211001' then '뱃지부여'
                            when a.badge_clsf_cd in ('211003','211004') then
                                concat(' ', nvl((select cd_nm from ev_comm_code ecc where cd_id = ecm.category1), ''), ' ', ecm.cust_nm)
                        end
                      ) AS badge_conts
                    , case when a.badge_clsf_cd IN ('211003') then (a.badge_cnt) * (-1) ELSE 0 END AS badge_recv_cnt
                    , case when a.badge_clsf_cd IN ('211004') then (a.badge_cnt) * (-1) ELSE 0 END AS badge_use_cnt
                    , date_format(a.ins_dtm,'%Y-%m-%d %H:%i') AS ins_dt
                    FROM ev_cust_badge a
                    left outer join ev_cust_mst ecm
                    on a.cust_id = ecm.cust_id
                    WHERE a.give_cust_id = #{cust_id}
                    AND date_format(a.ins_dtm,'%Y-%m-%d') BETWEEN #{ins_dt_fr} AND #{ins_dt_to}

                    <if test="slt_badge_clsf != null and slt_badge_clsf != ''">
                        <choose>
                            <when test="slt_badge_clsf == '211001'">
                                and a.badge_clsf_cd in ('211001','211002')
                            </when>
                            <otherwise>
                                and a.badge_clsf_cd = #{slt_badge_clsf}
                            </otherwise>
                        </choose>
                    </if>
            ) a
        LIMIT #{page_row_start}, #{page_row_cnt}

    </select>

    <select id="S05_BADGE" parameterType="kr.coevolution.vr.mypage.dto.EvMypageBadgeRequestDto"
            resultType="kr.coevolution.vr.mypage.dto.EvMypageBadgeResponseDto">

        /* 기업 뱃지 적립 건수 */

        SELECT count(*) as row_count
            , (SELECT nvl(SUM(x.badge_cnt),0) * (-1)
                FROM ev_cust_badge x
                WHERE x.give_cust_id = #{cust_id}
              ) as tot_badge
        FROM ev_cust_badge a
        WHERE a.give_cust_id = #{cust_id}
        AND date_format(ins_dtm,'%Y-%m-%d') BETWEEN #{ins_dt_fr} AND #{ins_dt_to}

        <if test="slt_badge_clsf != null and slt_badge_clsf != ''">
            <choose>
                <when test="slt_badge_clsf == '211001'">
                    and a.badge_clsf_cd in ('211001','211002')
                </when>
                <otherwise>
                    and a.badge_clsf_cd = #{slt_badge_clsf}
                </otherwise>
            </choose>
        </if>

    </select>


    <select id="S06_BADGE_SH1" parameterType="kr.coevolution.vr.mypage.dto.EvMypageBadgeRequestDto"
            resultType="kr.coevolution.vr.mypage.dto.EvMypageBadgeResponseDto">

        /* 관리자페이지 부스 뱃지 내역 */
        select ROW_NUMBER() OVER(ORDER BY a.cust_nm asc) as rn
        , a.*
        from (
            select ecm.cust_id
                , ecm.cust_nm
                , sum(case when ecb.badge_clsf_cd in ('211001','211002','211004') then ecb.badge_cnt
                      else 0
                  end) as tot_badge_paid_cnt
                , abs(sum(case when ecb.badge_clsf_cd in ('211003') then ecb.badge_cnt
                               else 0
                  end)) as tot_badge_use_cnt
                , abs(sum(case when ecb.badge_clsf_cd in ('211001','211002','211003','211004') then ecb.badge_cnt
                               else 0
                          end)) as tot_badge_rmin_cnt
                , abs(sum(case when ecb.badge_clsf_cd in ('211002') then ecb.badge_cnt
                               else 0
                          end)) as tot_badge_rcmd_cnt
                , date_format(ecb.ins_dtm ,'%Y-%m-%d') AS ins_dt
                , (select concat(expo_consult_from_dt,'~', expo_consult_to_dt) from ev_expo ee where ev_expo_id = #{ev_expo_id}) as expo_consult_prod
            from ev_cust_mst ecm
            left outer join ev_comm_code ecc
              on ecm.category1 = ecc.cd_id
            left outer join ev_cust_badge ecb
              on ecm.cust_id = ecb.cust_id
             and ecb.ev_expo_id = #{ev_expo_id}
            where ecm.cust_sts_cd = '105001' /*정상*/
             and ecm.cust_clsf_cd = #{cust_clsf_sh} /* 참관/참여 */

            <if test="category_sh != null and category_sh != ''">
                and exists (select 1
                    from ev_cust_mst
                    where cust_id = ecb.give_cust_id
                    and category1 = #{category_sh}
                )  /*카테고리 검색조건*/
            </if>

            <if test="category_nm_sh != null and category_nm_sh != ''">
                and exists (select 1
                            from ev_cust_mst z
                            left outer join ev_comm_code y
                            on z.category1 = y.cd_id
                            where z.cust_id = ecb.give_cust_id
                            and upper(y.cd_nm) like upper(concat('%',#{category_nm_sh}, '%'))
                )  /*카테고리 검색조건*/
            </if>

            and ecm.ins_dtm between #{ins_dt_fr} and #{ins_dt_to} /* 날짜검색조건 */

            group by ecm.cust_id, ecm.cust_nm
        ) a
        LIMIT #{page_row_start}, #{page_row_cnt}

    </select>

    <select id="S06_BADGE_SH1_COUNT" parameterType="kr.coevolution.vr.mypage.dto.EvMypageBadgeRequestDto"
            resultType="kr.coevolution.vr.mypage.dto.EvMypageBadgeResponseDto">

        /* 관리자페이지 부스 뱃지 내역 건수 */
        select count(a.cust_id) as row_count
        from (
            select ecm.cust_id
              from ev_cust_mst ecm
              left outer join ev_comm_code ecc
                on ecm.category1 = ecc.cd_id
              left outer join ev_cust_badge ecb
                on ecm.cust_id = ecb.cust_id
               and ecb.ev_expo_id = #{ev_expo_id}
             where ecm.cust_sts_cd = '105001' /*정상*/
               and ecm.cust_clsf_cd = #{cust_clsf_sh} /* 참관/참여 */

            <if test="category_sh != null and category_sh != ''">
                and exists (select 1
                    from ev_cust_mst
                    where cust_id = ecb.give_cust_id
                    and category1 = #{category_sh}
                )  /*카테고리 검색조건*/
            </if>

            <if test="category_nm_sh != null and category_nm_sh != ''">
                and exists (select 1
                from ev_cust_mst z
                left outer join ev_comm_code y
                on z.category1 = y.cd_id
                where z.cust_id = ecb.give_cust_id
                and upper(y.cd_nm) like upper(concat('%',#{category_nm_sh}, '%'))
                )  /*카테고리 검색조건*/
            </if>

            and ecm.ins_dtm between #{ins_dt_fr} and #{ins_dt_to} /* 날짜검색조건 */

            group by ecm.cust_id, ecm.cust_nm
        ) a

    </select>

    <select id="S06_BADGE_SH2" parameterType="kr.coevolution.vr.mypage.dto.EvMypageBadgeRequestDto" resultType="kr.coevolution.vr.mypage.dto.EvMypageBadgeResponseDto">

        with cust_badge as (
            select give_cust_id
                , sum(badge_cnt) * -1 as tot_cnt
                , abs(sum(case when badge_cnt <![CDATA[ < ]]> 0 then badge_cnt else 0 end)) as tot_rcv
                , abs(sum(case when badge_cnt > 0 then badge_cnt else 0 end)) as tot_recall
                , date_format(max(ins_dtm) , '%Y-%m-%d') as ins_dt
            from ev_cust_badge
           where ins_dtm between #{ins_dt_fr} and #{ins_dt_to} /* 날짜검색조건 */
             and ev_expo_id = #{ev_expo_id}
            group by give_cust_id
        )
        select ROW_NUMBER() OVER(ORDER BY ecm.cust_nm asc) as rn
            , ecm.cust_id
            , ecm.cust_nm
            , nvl((select tot_cnt from cust_badge ecb where give_cust_id = ecm.cust_id),0) as tot_badge
            , nvl((select tot_rcv from cust_badge ecb where give_cust_id = ecm.cust_id),0) as tot_rcv
            , nvl((select tot_recall from cust_badge ecb where give_cust_id = ecm.cust_id),0) as tot_recall
            , (select ins_dt from cust_badge ecb where give_cust_id = ecm.cust_id) as ins_dt
            , (select concat(expo_consult_from_dt,'~', expo_consult_to_dt) from ev_expo ee where ev_expo_id = #{ev_expo_id}) as expo_consult_prod
        from ev_cust_mst ecm
        where ecm.cust_sts_cd   = '105001' /*정상*/
        and ecm.cust_clsf_cd    = #{cust_clsf_sh}
        and ecm.ins_dtm between #{ins_dt_fr} and #{ins_dt_to} /* 날짜검색조건 */

        <if test="cust_clsf_sh == '202002'">
            and exists (select 1 from ev_expo_customer where ev_expo_id = #{ev_expo_id} and cust_id = ecm.cust_id)
        </if>

        <if test="category_sh != null and category_sh != ''">
        and ecm.category1 	    = #{category_sh}
        </if>

        <if test="category_nm_sh != null and category_nm_sh != ''">
        and exists (select 1 from ev_comm_code where cd_id = ecm.category1 and cd_nm like concat('%',#{category_nm_sh},'%'))
        </if>

        LIMIT #{page_row_start}, #{page_row_cnt}

    </select>

    <select id="S06_BADGE_SH2_COUNT" parameterType="kr.coevolution.vr.mypage.dto.EvMypageBadgeRequestDto" resultType="kr.coevolution.vr.mypage.dto.EvMypageBadgeResponseDto">

        select count(*) as row_count
          from ev_cust_mst ecm
         where ecm.cust_sts_cd   = '105001' /*정상*/
           and ecm.cust_clsf_cd    = #{cust_clsf_sh}
           and ecm.ins_dtm between #{ins_dt_fr} and #{ins_dt_to} /* 날짜검색조건 */

        <if test="cust_clsf_sh == '202002'">
            and exists (select 1 from ev_expo_customer where ev_expo_id = #{ev_expo_id} and cust_id = ecm.cust_id)
        </if>

        <if test="category_sh != null and category_sh != ''">
            and ecm.category1 	    = #{category_sh}
        </if>

        <if test="category_nm_sh != null and category_nm_sh != ''">
            and exists (select 1 from ev_comm_code where cd_id = ecm.category1 and cd_nm like concat('%',#{category_nm_sh},'%'))
        </if>

    </select>

    <select id="intBadgeCnt" parameterType="kr.coevolution.vr.mypage.dto.EvMypageBadgeRequestDto" resultType="Integer">
        select sum(badge_cnt) as cnt from ev_cust_badge where cust_id = #{cust_id}
    </select>



</mapper>